.kw-dvp-HorizonalButton {
    color: #5f5f5f;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px 0px;
}

.kw-dvp-HorizonalButton:before, .kw-dvp-HorizonalButton:after {
    background-color: #bdbdbd;
    content: "";
    display: inline-block;
    float: left;
    height: 1px;
}

.kw-dvp-HorizonalButton:before {
    order: 1;
    flex-grow: 1;
    margin-right: 12px;
}

.kw-dvp-HorizonalButton:after {
    order: 3;
    flex-grow: 1;
    margin-left: 12px;
}

.kw-dvp-HorizonalButton * {
    order: 2;
}

.preview-table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* Change the background-color of table here */
    text-align: left;
    /* Change the text-alignment of table here */
}

.preview-th {
    font-weight: bold;
    border: 1px solid #cccccc;
    /* Change the border-color of heading here */
    padding: 8px;
    white-space: nowrap;
}

.preview-td {
    border: 1px solid #cccccc;
    /* Change the border-color of cells here */
    padding: 8px;
}

/* Stylized */

/* Adding Striped Effect for odd rows */

.preview-tr {
    background-color: #ffffff;
    /* Change the default background-color of rows here */
}

.preview-tr:nth-of-type(odd) {
    background-color: #eeeeee;
    /* Change the background-color of odd rows here */
}

.preview-tr .preview-th {
    background-color: #dddddd;
    /* Change the background-color of heading here */
}

/* Removing left and right border of rows for modern UIs */

.preview-tr {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.preview-th, .preview-td {
    border: none;
}