---
layout: null
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180320774-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180320774-1');
    </script>

    <script src="/assets/js/lazysizes.min.js"></script>
    <script src="/assets/js/ls.unveilhooks.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Empower your app or website with the fast & visual online database solution, featuring a visual query builder and painless integration. Try it free!">
    <title>The no-code cloud database for apps and websites | Easybase</title>
    <link href="/assets/css/styles.min.css" rel="stylesheet" />
    <link href="/assets/css/custom_bootstrap.min.css" rel="stylesheet" />
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/favicon/mstile-310x310.png" />

    <meta property="og:title" content="EasyBase · The no-code database for apps and websites" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://easybase.io" />
    <meta property="og:image" content="https://easybase.io/assets/images/og_image.png" />
    <meta property="og:description" content="Empower your app or website with the fast & visual online database solution, featuring a visual query builder and painless integration. Try it free!" />

    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@easybase_io" /> 
    <meta name="twitter:title" content="EasyBase · The no-code database for apps and websites" /> 
    <meta name="twitter:description" content="Empower your app or website with the fast & visual online database solution, featuring a visual query builder and painless integration. Try it free!" /> 
    <meta name="twitter:image" content="https://easybase.io/assets/images/og_image.png" />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",  
            "name": "Easybase",
            "url": "https://easybase.io", 
            "logo": "https://easybase.io/assets/images/og_image.png",
            "sameAs": [
                "https://twitter.com/easybase_io"
            ]
        }
    </script>

</head>

<body>

    <div>

        {% include header.html %}

        <div>
            <div class="home_hero">
                <div class="wide-container" style="overflow: visible;">
                    <div class="row hero-row-root">
                        <div class="col-md-5 grow-on-mobile">
        
                            <div class="hero-left-root">
                                <h2 class="hero-primary-text mb-5 text-center text-md-left">Your Data. Empowered.</h2>
                                <h1 class="hero-secondary-text mb-4 text-center text-md-left">EasyBase is a powerful, low-code cloud database with a self-building API and visual query builder.</h1>
                                <div class="hero-buttons-root mt-2">
                                
                                    <div class="mod-container mr-3">
                                        <button onclick="document.getElementById('start-of-content-section').scrollIntoView({ behavior: 'smooth' })" class="hero-button hero-button-primary button shadow icon-color mod-themed mod-success mod-success-fill">
                                            <span class="hero-button hero-button-primary text">Learn More</span>
                                        </button>
                                    </div>
        
                                    <div class="mod-container ml-3">
                                        <a class="section-footer-button section-footer-button-hero" href="https://app.easybase.io/?view=signup" onclick="captureLinkClick('app.easybase.io/?view=signup', 'signUp'); return false;">
                                            Try Now
                                            <ion-icon name="chevron-forward-outline" style="margin-bottom: 2px; margin-left: 2px;"></ion-icon>
                                        </a>
                                    </div>
            
                                </div>
                                <div class="hero-checks my-5">
                                    <div class="mod-hide-on-mobile">
                                        <span>
                                            <ion-icon name="checkmark">
                                            </ion-icon>
                                            <h6>99.9% uptime*</h6>
                                        </span>
                                    
                                        <span>
                                            <ion-icon name="checkmark"></ion-icon>
                                            <h6>Free tier&nbsp;&nbsp;</h6>
                                        </span>
                                    
                                        <span>
                                            <ion-icon name="checkmark">
                                            </ion-icon>
                                            <h6 style="padding-right: 0;">Instant setup</h6>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                        <div class="col-md-7 mod-hide-on-mobile no-padding">
                            <div class="hero-video-root mb-5" style="overflow: visible;">
                                <div id="hero-video-raw-replay" style="visibility: hidden; opacity: 0;">
                                    {% assign posts-with-title-image = site.posts | where_exp:"item","item.title_image!=nil" %}
                                    {% for post in posts-with-title-image limit:2 %}
                                    <div class="video-replay-article-root mb-4">
                                        <img class="lazyload" data-src="{{ post.title_image }}" />
                                        <a href="{{ post.url }}">{{ post.title }}</a>
                                    </div>
                                    {% endfor %}
                                    <img id="hero-video-raw-replay-icon" alt="replay icon" src="/assets/images/noun_replay.svg" style="cursor: pointer; height: 89px; width: 89;" />
                                </div>
                                
                                <video id="hero-video-raw" class="lazyload hero-video-width" data-autoplay="" preload="none" muted="" src="https://pitt.box.com/shared/static/hhxlwlnles3jl32wbax5m9bu8i2xhai7.mp4"></video>

                                <div id="lds-dual-ring"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center w-100 mod-hide-on-mobile" style="position: relative; bottom: 60px;">
                        <div class="d-flex align-items-center">
                            <p style="font-weight: 700; font-size: 15px; margin: 0px;">Packages available for</p>
                            <ion-icon size="large" class="mr-3 ml-2" name="logo-html5"></ion-icon>
                            <ion-icon size="large" class="mr-3" name="logo-python"></ion-icon>
                            <ion-icon size="large" class="mr-3" name="logo-javascript"></ion-icon>
                            <ion-icon size="large" class="mr-2" name="logo-react"></ion-icon>
                            <p style="font-weight: 700; font-size: 15px; margin: 0px;">and more.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center w-100 mod-show-on-mobile" style="position: absolute; bottom: 15px;">
                        <div class="d-flex align-items-center">
                            <p style="font-weight: 600; font-size: 12px; margin: 0px;">Packages available for</p>
                            <ion-icon size="large" class="mr-2 ml-1" name="logo-html5"></ion-icon>
                            <ion-icon size="large" class="mr-2" name="logo-python"></ion-icon>
                            <ion-icon size="large" class="mr-2" name="logo-javascript"></ion-icon>
                            <ion-icon size="large" class="mr-1" name="logo-react"></ion-icon>
                            <p style="font-weight: 600; font-size: 12px; margin: 0px;">and more.</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section-grey">
                <div class="wide-container">
                    <h2 class="section-header-text"><span class="highlight"><span>Forget</span></span> database administration</h2>
                    <div class="mod-container">
                        <h3 class="section-secondary-text mt-3">Spend more time building and less time worring about database maintenance, allocation and scaling.</h3>
                    </div>
                    
                    <div class="section-header-content-spacer"></div>
                    <div class="row d-flex justify-content-around">

                        <div class="mini-out-card mod-shadow mb-4 mb-md-0">
                            <ion-icon name="arrow-forward-outline" class="mod-hide-on-mobile"></ion-icon>
                            <div class="w-100 d-flex justify-content-center">
                                <p>Step One</p>
                            </div>
                            <p class="px-4">Create a table and insert data manually or via upload.</p>
                            <div class="h-100"></div>
                            <img class="lazyload mb-3" data-src="/assets/images/step-1.png" alt="easybase hero steps 1" />
                        </div>


                        <div class="mini-out-card mod-shadow my-4 my-md-0">
                            <ion-icon name="arrow-forward-outline" class="mod-hide-on-mobile"></ion-icon>
                            <div class="w-100 d-flex justify-content-center">
                                <p>Step Two</p>
                            </div>
                            <p class="px-4">Create a modular project or table specific integration.</p>
                            <div class="h-100"></div>
                            <img class="lazyload" data-src="/assets/images/step-2.png" alt="easybase hero steps 2" />
                        </div>


                        <div class="mini-out-card mod-shadow my-4 my-md-0">
                            <div class="w-100 d-flex justify-content-center">
                                <p>Step Three</p>
                            </div>
                            <p class="px-4">Choose a language and access your data in real-time!</p>
                            <div class="h-100"></div>
                            <img class="lazyload" data-src="/assets/images/step-3.png" alt="easybase hero steps 3" />
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-white" id="start-of-content-section">
                <div class="container">
                	<h2 class="section-header-text">Less work, more <span class="highlight"><span>fun</span></span></h2>
                	<div class="mod-container">
                	    <h3 class="section-secondary-text mt-3">Easybase's serverless platform allows your applications to query data straight from the web browser, mobile device, or other frontend framework.</h3>
                	</div>
                    
                    <div class="section-header-content-spacer"></div>
                	
                	<div class="row">
                	    <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                            <div class="d-flex" style="overflow-x: hidden;">
                                <div style="overflow: hidden; width: 291px;">
                                    <img id="drawer-img" alt="easybase drawer" class="drawer-img lazyload" data-src="/assets/images/drawer.png" />
                                </div>
                                <div id="drawer-img-border" class="drawer-img-border"></div>
                            </div>
                	    </div>
                	    <div class="col-md-6 d-flex align-items-center order-first order-md-last">
                	        <div class="content-bullet-list-root">
                	            <article>
                	                <span>
                	                    <ion-icon name="code"></ion-icon>
                	                </span>
                	                <div class="ml-4 pl-3">
                	                    <h4 class="content-bullet-list-header-text">Visual</h4>
                	                    <p class="section-content-text mt-3">The visual query builder and self-building API makes database integration extremely accessible. No more hassling with complicated query language and managing API functionality and security. EasyBase handles the hard part and lets you get to work.</p>
                	                </div>
                	            </article>
                
                	            <article>
                	                <span>
                	                    <ion-icon name="lock-closed"></ion-icon>
                	                </span>
                	                <div class="ml-4 pl-3">
                	                    <h4 class="content-bullet-list-header-text">Secure</h4>
                	                    <p class="section-content-text mt-3">We take privacy and security very seriously. All data is always stored and transferred with the highest standards via modern backend security technologies. We keep our processes up-to-date with the best practices in the ever-evolving world of cybersecurity.</p>
                	                </div>
                	            </article>
                
                	            <article>
                	                <span>
                	                    <ion-icon name="flash"></ion-icon>
                	                </span>
                	                <div class="ml-4 pl-3">
                	                    <h4 class="content-bullet-list-header-text">Scalable</h4>
                                        <p class="section-content-text mt-3">Integrations are updated live, such that your changes are instantly accessible from your programs. Whether you need to fetch 100 records or 100 GBs, your API is responsive to your traffic. So, if you need high volume transfers from your online database, you get it.</p>
                	                </div>
                                </article>
                                
                	        </div>
                	    </div>
                	</div>
                            
                </div>
            </section>

            <section class="section-grey">
                <div class="container">
                    <div class="row d-flex justify-content-center mb-5 pb-5">
                        <h2 class="section-header-text">Database integration made <span class="highlight"><span>easy</span></span></h2>
                    </div>
                    <div class="row d-md-flex justify-content-center mod-hide-on-mobile">
                        <div>
                            <h2 class="small-content-header text-center px-1">Visually build REST integrations</h2>
                            <h3 class="section-secondary-text mt-3 px-1">Build it Easybase, then call it in your project with no further configuration.</h3>
                            <p class="small-arrow-down mt-3">↓</p>
                        </div>
                        <div class="languages-tabs-card">
                            <iframe class="mod-hide-on-mobile lazyload" frameborder="0" allowfullscreen="" style="border: 0;" data-src="/integration-builder/build/" height="900" width="1050"></iframe>
                        </div>
                    </div>
                    <div class="mod-hide-on-mobile" style="height: 200px;"></div>
                    <div class="row d-flex justify-content-center">
                        <div>
                            <h2 class="small-content-header text-center px-1">Serverless database for popular Javascript frameworks</h2>
                            <h3 class="section-secondary-text mt-3 px-1">Your data frame is stateful and synchronous. Just use it like an array!</h3>
                            <p class="small-arrow-down mt-3">↓</p>
                        </div>
                        <div class="d-md-flex justify-content-between mt-3">
                            <div class="d-flex flex-column align-items-center">
                                <h4 class="content-bullet-list-header-text"><a href="https://github.com/easybase/easybasejs">Node.js</a></h4>
                                <img class="carbon-picture lazyload" alt="Easybase carbon node example" data-src="assets/images/carbon-node.png" />
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <h4 class="content-bullet-list-header-text"><a href="https://github.com/easybase/easybase-react">React and React Native</a></h4>
                                <img class="carbon-picture lazyload" alt="Easybase carbon react example" data-src="assets/images/carbon-react.png" />
                            </div>
                        </div>
                    </div>
                    <div class="mod-hide-on-mobile" style="height: 150px;"></div>
                    <div class="row d-md-flex justify-content-center mod-hide-on-mobile">
                        <div>
                            <h2 class="small-content-header text-center px-1">Direct <a rel="noreferrer" href="https://datatables.net/">DataTables.net</a> support</h2>
                            <p class="small-arrow-down mt-3">↓</p>
                        </div>
                        <div class="languages-tabs-card">
                            <div id="jsFiddleRoot" style="overflow: hidden; border-radius: 8px; transform: translateY(0px); width: 1100px; height: 700px;"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-white">
                <div class="container">
                    <h2 class="section-header-text"><span class="highlight"><span>Powerful</span></span> and cost-effective</h2>
                    <h3 class="section-secondary-text mt-3">The numbers speak for themselves.</h3>
                    
                    <div class="section-header-content-spacer"></div>

                    <div class="row">
                        <div class="col-md-6 px-4">

                            <div class="row">
                                <h3 class="section-content-header-text px-3">Only pay for what you use</h3>
                            </div>
                            <div class="row mt-4 px-3">
                                <p class="section-content-text">EasyBase's on-demand pricing model saves you money by
                                    automatically keeping tabs on your data storage and transfer. Charges are calculated based on usage, so periods of low transfer are very cost-effective.</p>
                            </div>
                            <div class="row justify-content-end mt-3 mb-5 pb-5">
                                <a class="section-footer-button" href="/pricing">
                                    TRY PRICING CALCULATOR
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </a>
                            </div>

                            <div class="row">
                                <h3 class="section-content-header-text px-3">Import and export popular formats</h3>
                            </div>
                            <div class="row mt-4 px-3">
                                <p class="section-content-text">Bring your data to and from popular spreadsheets applications and formats instantly. EasyBase's import and export is compatible with Google Sheets, Microsoft Excel, JSON, and CSV.</p>
                            </div>
                            <div class="row justify-content-end mt-3 mb-5 pb-5">
                                <a class="section-footer-button" href="/blog">
                                    READ OUR BLOG
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </a>
                            </div>

                            <div class="row">
                                <h3 class="section-content-header-text px-3">What you need, when you need it</h3>
                            </div>
                            <div class="row mt-4 px-3">
                                <p class="section-content-text">Easybase features flexible performance. When your app or project experiences a surge of requests, your cloud database will be there to deliver without latency or outages.</p>
                            </div>
                            <div class="row justify-content-end mt-3 mb-5 pb-5">
                                <a class="section-footer-button" href="/about/2020/09/15/Customizing-query-values/">
                                    LEARN ABOUT SCALING
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="pricing-card" style="position: sticky; top: 100px; height: 570px;">
                                <div class="card-contents-root">
                                    <h2 style="font-size:48px;" class="mb-3 section-header-text">Free Tier</h2>
                                    <h2 style="font-size:43px;" class="section-header-text mod-text-no-margin">
                                        $0<span class="pricing-month-text">/mo</span>
                                    </h2>
    
                                    <ul class="free-tier-card-list-root my-4">
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon>Single User
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon>$10 Free Quota
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon>Unlimited Tables
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon>Advanced Integrations
                                        </li>
                                        <li class="text-muted">
                                            <ion-icon name="close-outline"></ion-icon>Instant Support
                                        </li>
                                        <li class="text-muted">
                                            <ion-icon name="close-outline"></ion-icon>Enterprise Performance
                                        </li>
                                    </ul>
    
                                    <a role="button" type="text" href="https://app.easybase.io/?view=signup" onclick="captureLinkClick('app.easybase.io/?view=signup', 'signUp'); return false;" class="hero-button hero-button-primary button shadow icon-color mod-themed mod-success mod-success-fill">
                                        <span class="hero-button hero-button-primary text">Get Started for Free</span>
                                    </a>
                                    <p class="text-muted mb-3" style="position: absolute; bottom: 0px; font-size: 17px;"><i>* no payment method required</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            
            <section class="section-grey" style="background-image: linear-gradient(#fbfbfb 90%,#ececec 100%);">
                <div class="wide-container">
                    <div class="row d-flex justify-content-around">
                        <div class="mini-article-card mod-shadow my-4 my-md-0">
                            <a href="/about">
                                <div class="mini-article-card-content-root">
                                    <figure>
                                        <img class="lazyload" data-src="/assets/images/card-1.jpg" alt="Easybase mini card 1" />
                                    </figure>
                                    <div class="mini-article-card-content">
                                        <h3 class="mod-text mod-text-no-margin h4" style="font-family: var(--font-sans); color: inherit;">Learn about us</h3>
                                        <small class="mod-text mod-text-no-margin small" style="font-family: var(--font-sans); color: inherit;">Our mission and goals for the future.</small>
                                    </div>
                                    <div class="mini-article-card-footer">            
                                        <small class="mod-text mod-text-no-margin small" style="font-family: var(--font-sans); color: inherit; display: flex; align-items: center; justify-content: flex-end;">Read More
                                            <ion-icon name="chevron-forward-outline" style="margin-top: 1px; font-size: inherit;"></ion-icon>
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="mini-article-card mod-shadow my-4 my-md-0">
                            <a href="/react/2020/11/25/The-Easiest-Way-To-Add-User-Authentication-To-Your-React-Project/">
                                <div class="mini-article-card-content-root">
                                    <figure>
                                        <img class="lazyload" data-src="/assets/images/card-2.jpg" alt="Easybase mini card 2" />
                                    </figure>
                                    <div class="mini-article-card-content">
                                        <h3 class="mod-text mod-text-no-margin h4"
                                            style="font-family: var(--font-sans); color: inherit;">User Authentication</h3>
                                        <small class="mod-text mod-text-no-margin small"
                                            style="font-family: var(--font-sans); color: inherit;">Secure user management in React.</small>
                                    </div>
                                    <div class="mini-article-card-footer">
                                        <small class="mod-text mod-text-no-margin small"
                                            style="font-family: var(--font-sans); color: inherit; display: flex; align-items: center; justify-content: flex-end;">Read
                                            More
                                            <ion-icon name="chevron-forward-outline" style="margin-top: 1px; font-size: inherit;">
                                            </ion-icon>
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="mini-article-card mod-shadow my-4 my-md-0">
                            <a href="/react/2020/09/20/The-Best-Way-To-Add-A-Database-To-Your-React-React-Native-Apps/">
                                <div class="mini-article-card-content-root"> 
                                    <figure>
                                        <img class="lazyload" alt="Easybase mini card 3" data-src="/assets/images/card-3.jpeg" />
                                    </figure>
                                    <div class="mini-article-card-content">
                                        <h3 class="mod-text mod-text-no-margin h4" style="font-family: var(--font-sans); color: inherit;">React Database</h3>
                                        <small class="mod-text mod-text-no-margin small" style="font-family: var(--font-sans); color: inherit;">Learn about our serverless platform.</small>
                                    </div>
                                    <div class="mini-article-card-footer">
                        
                                        <small class="mod-text mod-text-no-margin small"
                                            style="font-family: var(--font-sans); color: inherit; display: flex; align-items: center; justify-content: flex-end;">Read
                                            More
                                            <ion-icon name="chevron-forward-outline" style="margin-top: 1px; font-size: inherit;">
                                            </ion-icon>
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
            
                    </div>
                </div>
            </section>

            <section class="section-blue">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 py-2">
                            <h2 class="cta-white-text text-center text-md-left">Initialize your database today</h2>
                            <p class="section-content-text text-white text-center text-md-left">Cross-platform integration has never been easier.</p>
                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-center py-3">
                            <div class="mod-container align-items-center">
                                <a role="button" type="text" href="https://app.easybase.io/?view=signup" onclick="captureLinkClick('app.easybase.io/?view=signup', 'signUp'); return false;" class="hero-button hero-button-primary-white button shadow icon-color mod-themed mod-success mod-success-fill">
                                    <span class="hero-button text">Try Now</span>
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    {% include footer.html %}

    <script>

        var loading_ele = document.getElementById('lds-dual-ring');
        var vid_ele = document.getElementById('hero-video-raw');
        var hero_video_raw_replay_ele = document.getElementById('hero-video-raw-replay');
        var hero_video_raw_replay_icon_ele = document.getElementById('hero-video-raw-replay-icon');

        window.addEventListener("load", function () {

            var io = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting)
                    {
                        document.getElementById('drawer-img').classList.add("drawer-img-slide");
                        io.unobserve(entry.target);
                    }
                });
            }, { threshold: 0.3, rootMargin: "0px" });

            io.observe(document.getElementById('drawer-img-border'));

            var io2 = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting && !document.getElementById('jsFiddleIframe'))
                    {
                        observer.unobserve(entry.target);
                        var uriEmbedded           = "https://jsfiddle.net/L9mewa5r/embedded/result,html/dark/"
                        var currentSlug           = "prywnzgd"
                        var target                = document.querySelector("div#jsFiddleRoot")
                        var iframe                = document.createElement("iframe")

                        iframe.src               = uriEmbedded;
                        iframe.id                = "jsFiddleIframe";
                        iframe.width             = "1100"
                        iframe.height            = "700"
                        iframe.frameBorder       = "0"
                        iframe.allowtransparency = true
                        iframe.sandbox           = "allow-modals allow-forms allow-same-origin allow-scripts allow-popups allow-top-navigation-by-user-activation allow-downloads"
                        iframe.allow             = "midi; geolocation; microphone; camera; display-capture; encrypted-media;"

                        target.appendChild(iframe);
                    }
                });
            }, { threshold: 0, rootMargin: '100px' });

            io2.observe(document.getElementById("jsFiddleRoot"));

            let urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get("contact") !== null) {
                setTimeout(function(){
                    document.getElementById('footer-root').scrollIntoView(false)
                }, 10);
            }

        });

        function fadeVideoInAndPlay() {
            vid_ele.style.visibility = "visible";
            vid_ele.style.opacity = "1";
            vid_ele.play();
        }

        hero_video_raw_replay_ele.onclick = function () {
            hero_video_raw_replay_ele.style.opacity = "0";
            hero_video_raw_replay_icon_ele.classList.remove('spin-once');
            setTimeout(function () {
                hero_video_raw_replay_ele.style.visibility = "hidden";
                fadeVideoInAndPlay();
            }, 750);
        }

        vid_ele.onended = function () {
            setTimeout(function () {
                hero_video_raw_replay_ele.style.visibility = "visible";
                hero_video_raw_replay_ele.style.opacity = "1";
                vid_ele.style.visibility = "hidden";
            }, 750);

            setTimeout(function () {
                hero_video_raw_replay_icon_ele.classList.add('spin-once');
            }, 1100)

            vid_ele.style.opacity = "0";
        }

        vid_ele.oncanplay = function() {
            loading_ele.style.opacity = 0;
            setTimeout(fadeVideoInAndPlay, 500);
        }

        var captureLinkClick = function(url, eventCategory) {
            if (!!window.google_tag_manager) {
                gtag('event', 'click', {
                    'event_category':  eventCategory,
                    'event_label': "https://" + url,
                    'transport_type': 'beacon',
                    'event_callback': function(){ document.location = "https://" + url; }
                });
            } else {
                document.location = "https://" + url;
            }
        }

        loading_ele.style.opacity = 1;

    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>