---
layout: null
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165976647-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-165976647-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Empower your app or website with the fast & visual database-as-a-service solution, featuring a visual query builder and painless integration. Try it free!">
    <title>The no-code database for apps and websites · EasyBase</title>
    <link href="assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2:300,400,500,700">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <script src="assets/js/yall.min.js"></script>
    <script>
            document.addEventListener("DOMContentLoaded", yall);
    </script>
</head>

<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <img class="lazy" data-src="assets/images/logo2_transparent_md.png" style="width: 205px; object-fit: contain;" alt="easybase logo" />
            </div>
            <nav style="display: flex; flex-grow: 1; justify-content: center;">
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a class="nav-regular-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/about">About Us</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/blog">Blog</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-raised btn-success nav-login-button">Login</button>
                    </li>
                    <li>
                        <span class="splash-ping-root hide-mobile">
                            <div class="ping-container">
                                <div class="green-flasher"></div>
                            </div>
                            <p class="ping-time-text"></p>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section-overflow">
        <div class="full-screen">
            <div class="hero-bg"></div>
            <div class="splash-root">
                <div class="row" style="height: 100%;">
                    <div class="col-lg-5" style="height: 100%;">
                        <div class="splash-text-root">
                            <h1 class="splash-primary-text">The fast & visual way to empower your website or app</h1>
                            <h2 class="splash-secondary-text">EasyBase is a powerful, no-code database with a self-building API
                                and visual query builder</h2>
                            <div class="splash-buttons">
                                <div style="display: flex; flex-direction: column;">
                                    <button type="button" class="btn btn-raised btn-lg btn-success splash-button-try">Try Now</button>
                                    <span class="splash-ping-root show-mobile mt-1">
                                        <div class="ping-container">
                                            <div class="green-flasher"></div>
                                        </div>
                                        <p class="ping-time-text"></p>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-outline-light btn-lg">Learn More</button>
                            </div>


                            
                            <div class="splash-checks">
                                <span>
                                    <ion-icon name="checkmark-circle-outline" style="color: #4caf50; vertical-align: middle; font-size: 24px;"></ion-icon>
                                    <h6>99.9% uptime*</h6>
                                </span>
        
                                <span>
                                    <ion-icon name="checkmark-circle-outline" style="color: #4caf50; vertical-align: middle; font-size: 24px;"></ion-icon>
                                    <h6>Free Tier</h6>
                                </span>
        
                                <span>
                                    <ion-icon name="checkmark-circle-outline" style="color: #4caf50; vertical-align: middle; font-size: 24px;"></ion-icon>
                                    <h6 style="padding-right: 0;">Instant setup</h6>
                                </span>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-7" style="height: 100%;">
                        <div class="splash-gif">
                            <div style="width: 600px; height: 500px"></div>
                            <button type="button" class="btn btn-lg btn-outline-light" style="width: 300px; font-family: 'Roboto', sans-serif;">Request a demo</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="section-about section-overflow">
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-md-6">
                    <div class="product-view-root justify-content-center justify-content-lg-between">
                        <img data-src="assets/images/product-screen-2-colorized.png" class="lazy unselectable-image product-screen-img" />
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="row px-4">
                        <h3 class="section-subheader">Less work, <span class="highlight">more fun</span>!</h3>
                    </div>
                    <div class="row px-4">
                        <p class="section-text-content">Managing your data has never been easier. Utilize the power of
                            an enterprise back-end framework without the hassle of complicated queries or formal DBMS
                            training.<br /><br />Dive into your data with extended support for rich text, images,
                            videos, locations, dates etc. Let us handle the hard part!
                        </p>
                    </div>
                    <div class="row px-4 justify-content-end">
                        <button class="btn arrow-btn-lg section-arrow-button-blue">Watch Demo<ion-icon name="chevron-forward-outline"></ion-icon></button>
                        <button class="btn arrow-btn-lg section-arrow-button-blue">Use Cases<ion-icon name="chevron-forward-outline"></ion-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-price section-overflow">
        <div class="container">

            <div class="row" style="align-items: center;">
                <div class="col-md-6 py-2">
                    <div class="row px-4">
                        <h3 class="section-subheader">Only pay for <span class="highlight">what you use</span></h3>
                    </div>
                    <div class="row px-4">
                        <p class="section-text-content">EasyBase's on-demand pricing model saves you money by
                            automatically keeping tabs on your data storage and transfer. Charges are calculated based
                            on usage, so periods of low transfer are very cost-effective.</p>
                    </div>
                    <div class="row px-4 justify-content-end">
                        <button class="btn arrow-btn-lg section-arrow-button-blue">Learn More<ion-icon name="chevron-forward-outline"></ion-icon></button>
                    </div>
                </div>
                <div class="col-md-6 justify-content-center justify-content-lg-end d-flex py-3">
                    <div class="card free-tier-card">
                        <div class="card-body">
                            <h5 class="free-tier-card-title text-center">Free Tier</h5>
                            <h6 class="free-tier-card-price text-center">$0<span>/month</span></h6>
                            <hr class="my-4">
                            <ul class="free-tier-card-list-root">
                                <li><ion-icon name="checkmark-outline"></ion-icon>Single User</li>
                                <li><ion-icon name="checkmark-outline"></ion-icon>1000 Records</li>
                                <li><ion-icon name="checkmark-outline"></ion-icon>Unlimited Tables</li>
                                <li><ion-icon name="checkmark-outline"></ion-icon>100 GB / month</li>
                                <li class="text-muted"><ion-icon name="close-outline"></ion-icon>Instant Support</li>
                                <li class="text-muted"><ion-icon name="close-outline"></ion-icon>Private Integrations</li>
                            </ul>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-raised btn-lg btn-success splash-button-try" style="margin: 10px 0px !important;">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-actions-cards section-overflow">
        <div class="wide-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card action-card">
                        <div class="card-header action-card-header">
                            <ion-icon class="action-card-header-icon action-card-color-1" name="cog-outline"></ion-icon>
                            <h5 class="action-card-color-1">How We Help</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn arrow-btn-sm action-card-color-1 a-button">Read Here<ion-icon name="chevron-forward-outline"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card action-card">
                        <div class="card-header action-card-header">
                            <ion-icon class="action-card-header-icon action-card-color-2" name="happy-outline"></ion-icon>
                            <h5 class="action-card-color-2">Success Stories</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn arrow-btn-sm action-card-color-2 a-button">Read Here<ion-icon name="chevron-forward-outline"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card action-card">
                        <div class="card-header action-card-header">
                            <ion-icon class="action-card-header-icon action-card-color-3" name="rocket-outline"></ion-icon>
                            <h5 class="action-card-color-3">Our Mission</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn arrow-btn-sm action-card-color-3 a-button">Read Here<ion-icon name="chevron-forward-outline"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-about section-overflow">
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 py-2">
                    <div class="row px-4">
                        <h3 class="section-subheader">Secure & Scalable</h3>
                    </div>
                    <div class="row px-4">
                        <p class="section-text-content">Whether you want to store 100 records or 100GBs, our system is
                            fast and flexable without the administrative hassle that comes with traditional solutions.
                            Your API is responsive to your traffic. So, if you need high volumn transfers, you get
                            it. <br /><br />We take of advantage of various security standards to ensure the protection of
                            privacy of your data including:
                        </p>
                        <ul class="section-text-content">
                            <li>Software token 2FA</li>
                            <li>AWS live user sessions</li>
                            <li>Cognito authentication</li>
                            <li>Application TLS 1.3 only</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-price section-overflow">
        <div class="container">

            <div class="row" style="align-items: center;">
                <div class="col-md-6 py-2">
                    <div class="row px-4">
                        <h3 class="section-subheader">Hook Up!</h3>
                    </div>
                    <div class="row px-4">
                        <p class="section-text-content">Our goal is to make integration as easy as possible with
                            specific instructions of how to interact with your queries in React, iOS, Android,
                            JavaScript, Angular, etc. </p>
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="row px-4">
                        <h3 class="section-subheader">Up and Down</h3>
                    </div>
                    <div class="row px-4">
                        <p class="section-text-content">Migrate from other Database solutions via uploading JSON, Excel, or CSV.
                             Easybase always allows your data to be downloaded the those formats as well for handeling manually.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-2 footer-bg">
        <div class="container footer-content-container">
            <div class="row py-4 hide-mobile">
                <div class="col-md-3 footer-content-section-root">
                    <div class="footer-content-section mt-3">
                        <ion-icon name="pin-outline" size="large" style="margin-left: -9px;"></ion-icon>
                        <p class="footer-content-text contact-text pb-3 pl-1 mt-4">1679 Main Street Ave</p>
                        <p class="footer-content-text contact-text pb-3 pl-1">New York, NY</p>
                        <p class="footer-content-text contact-text pb-3 pl-1">14984</p>
                    </div>
                </div>
                <div class="col-md-3 footer-content-section-root">
                    <div class="footer-content-section mt-3">
                        <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
                        <p class="footer-content-text pb-3 pl-1 mt-4"><a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a></p>
                        <p class="footer-content-text pb-3 pl-1"><a href="tel:1234567890" class="contact-text">585-555-5555</a></p>
                    </div>
                </div>
                <div class="col-md-3 footer-content-section-root">
                    <div class="footer-content-section mt-3">
                        <ion-icon class="mb-4" name="newspaper-outline" size="large"></ion-icon>
                        {% for post in site.posts limit:4 %}
                            <p class="footer-content-text pb-3 pl-1"><a href="{{ post.url }}" class="contact-text">{{ post.title }}</a></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 footer-content-section-root">
                    <div class="footer-content-section mt-3">
                        <ion-icon name="link-outline" size="large"></ion-icon>
                        <p class="footer-content-text pb-3 pl-1 mt-4"><a href="/" class="contact-text">Home</a></p>
                        <p class="footer-content-text pb-3 pl-1"><a href="/pricing" class="contact-text">Pricing</a></p>
                        <p class="footer-content-text pb-3 pl-1"><a href="/about" class="contact-text">About Us</a></p>
                        <p class="footer-content-text pb-3 pl-1"><a href="/blog" class="contact-text">Blog</a></p>
                    </div>
                </div>
            </div>
            <div class="show-mobile" style="display: block;">
                <div class="row d-flex justify-content-center">
                    <div class="footer-content-section-mobile mb-5">
                        <div class="mr-4">
                            <ion-icon name="pin-outline" style="font-size: 40px;"></ion-icon>
                        </div>
                        <div>
                            <p class="footer-content-text contact-text pb-3 pl-1">1679 Main Street Ave</p>
                            <p class="footer-content-text contact-text pb-3 pl-1">New York, NY</p>
                            <p class="footer-content-text contact-text pb-3 pl-1">14984</p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="footer-content-section-mobile mb-5">
                        <div class="mr-4">
                            <ion-icon name="chatbubbles-outline" style="font-size: 40px;"></ion-icon>   
                        </div>
                        <div>
                            <p class="footer-content-text pb-3 pl-1"><a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a></p>
                            <p class="footer-content-text pb-3 pl-1"><a href="tel:1234567890" class="contact-text">585-555-5555</a></p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="footer-content-section-mobile mb-3">
                        <div class="mr-4">
                            <ion-icon name="newspaper-outline" style="font-size: 40px;"></ion-icon>
                        </div>
                        <div>
                            {% for post in site.posts limit:4 %}
                            <p class="footer-content-text pb-3 pl-1"><a href="{{ post.url }}" class="contact-text">{{ post.title }}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        
        <div class="container">
            <div class="row footer-button-root">

                <div class="footer-footer col-md-4 left-flex">
                    <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                        <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                            <ion-icon name="logo-twitter" size="small"></ion-icon>
                        </button>
                    </a>
                    <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                        <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                            <ion-icon name="logo-stackoverflow" size="small"></ion-icon>
                        </button>
                    </a>
                    <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                        <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                            <ion-icon name="logo-linkedin" size="small"></ion-icon>
                        </button>
                    </a>
                    <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                        <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                            <ion-icon name="logo-facebook" size="small"></ion-icon>
                        </button>
                    </a>
                </div>

                <div class="footer-footer col-md-4 center-flex">
                    <p style="color: #eee; margin: 0; font-family: 'Roboto', sans-serif;">© EasyBase 2016-2020</p>
                </div>

                <div class="footer-footer col-md-4 right-flex">
                    <a class="footer-footlink " href="https://mdbootstrap.com/">Terms</a>
                    <a class="footer-footlink " href="https://mdbootstrap.com/">Privacy</a>
                    <a class="footer-footlink " href="https://mdbootstrap.com/">DNSMI</a>
                </div>

            </div>
        </div>

    </footer>

    <script>
        
        window.addEventListener("DOMContentLoaded", function () {

            var getScrollY = function() { return (window.pageYOffset || window.document.documentElement.scrollTop) - (window.document.documentElement.clientTop || 0); };
            var getWindowWidth = function() { return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth; };

            var scroll_pos = 0;
            window.addEventListener("scroll", function () {
                if (getWindowWidth() <= 800) {
                    scroll_pos = getScrollY();
                    if (scroll_pos > 75) {
                        document.querySelector(".navigation").classList.add("navigation-mobile-grey-bg")
                        document.querySelector(".nav-list").classList.add("navigation-mobile-grey-bg")
                    } else if (!document.querySelector("#nav-toggle").classList.contains("active")) {
                        document.querySelector(".navigation").classList.remove("navigation-mobile-grey-bg");
                        document.querySelector(".nav-list").classList.remove("navigation-mobile-grey-bg");
                    }
                }
            });

            var jqueryToggle = function (ele) {
                if (getComputedStyle(ele, null).display == "none") {
                    ele.style.display = "block";
                } else {
                    ele.style.display = "none";
                }
            }

            document.getElementById('nav-toggle').addEventListener("click", function () {
                document.getElementById('nav-toggle').classList.toggle('active');
                jqueryToggle(document.querySelector('nav ul'));

                if (getWindowWidth() <= 800) {
                    if (getScrollY() <= 75) {
                        document.querySelector(".navigation").classList.toggle("navigation-mobile-grey-bg")
                        document.querySelector(".nav-list").classList.toggle("navigation-mobile-grey-bg")
                    }
                }

            });

            function pingTimeWorker() {
                const rand = Math.floor(Math.random() * 40) + 180;
                Array.from(document.getElementsByClassName("ping-time-text")).forEach(ele => ele.innerHTML = `${rand}ms`);
                setTimeout(pingTimeWorker, 4500);
            }
            pingTimeWorker();

        });


    </script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ecb2d63c75cbf1769eef6dc/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>