---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165976647-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-165976647-1');
    </script>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Empower your app or website with the fast & visual database-as-a-service solution, featuring a visual query builder and painless integration. Try it free!">
    <title>EasyBase · Pricing</title>
    <link href="/assets/css/styles_2.css" rel="stylesheet" />
    <!-- <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/favicon/mstile-310x310.png" />
</head>
<body>
    <div>
        <div class="banner_banner invert-theme">
            <a class="banner_text_link" href="/blog/zeit-is-now-vercel" style="display: flex;">
                <span class="banner_title">
                    <span class="mod-hide-on-mobile" style="align-items: center;">EASYBASE announces mobile application <ion-icon name="chevron-forward-outline"></ion-icon></span>
                    <span class="mod-show-on-mobile" style="align-items: center;">EASYBASE announces mobile application <ion-icon name="chevron-forward-outline"></ion-icon></span>
                </span>
                <!-- <span class="banner_link">Learn More →</span> -->
            </a>
            <span id="banner_close" class="banner_close">
                <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color:currentColor">
                    <path d="M18 6L6 18"></path>
                    <path d="M6 6l12 12"></path>
                </svg>
            </span>
        </div>
        <div class="header_wrapper">
            <header class="header_header" style="--full:var(--mod-page-width-with-margin);">
                <aside class="header_nav_upper">
                    <a class="header_logo mr-2" href="/">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="25.000000pt" height="25.000000pt" viewBox="0 0 25.000000 25.000000" preserveAspectRatio="xMidYMid meet">
                            <metadata>
                                Created by potrace 1.16, written by Peter Selinger 2001-2019
                            </metadata>
                            <g transform="translate(0.000000,25.000000) scale(0.004244,-0.004673)" fill="#000000" stroke="none">
                                <path d="M5705 5309 c-379 -79 -921 -161 -1350 -203 -430 -43 -707 -59 -1250
                                -72 -143 -3 -262 -10 -265 -14 -4 -6 -5 -1195 -1 -1234 1 -7 489 -1 676 9 44
                                2 134 7 200 10 66 3 140 8 165 10 25 2 88 7 140 10 52 3 111 8 130 10 19 2 69
                                7 110 10 68 6 362 38 450 50 502 65 1169 186 1171 211 0 8 1 287 2 622 0 592
                                0 607 -19 609 -10 1 -82 -12 -159 -28z" />
                                <path d="M960 4942 c0 -219 1 -238 18 -239 9 -1 87 -11 172 -22 162 -21 428
                                -51 455 -51 13 0 15 30 15 233 l0 234 -117 12 c-165 17 -515 61 -530 66 -10 3
                                -13 -47 -13 -233z" />
                                <path d="M1910 4836 l0 -236 48 -1 c26 0 54 -2 62 -3 18 -4 189 -13 398 -22
                                l152 -7 0 237 0 236 -92 1 c-51 0 -102 2 -113 4 -11 1 -83 6 -160 9 -77 4
                                -175 9 -217 13 l-78 6 0 -237z" />
                                <path d="M0 4327 l0 -233 143 -28 c187 -37 511 -95 514 -92 4 4 4 458 0 462
                                -1 2 -115 24 -251 49 -137 25 -277 52 -313 60 -35 8 -71 15 -79 15 -12 0 -14
                                -37 -14 -233z" />
                                <path d="M1910 4056 l0 -236 38 -1 c20 0 46 -2 57 -4 28 -4 192 -13 393 -21
                                l172 -7 0 236 0 237 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80 3
                                -173 9 -207 13 l-63 6 0 -237z" />
                                <path d="M5778 3434 c-269 -65 -999 -177 -1423 -219 -244 -23 -250 -24 -400
                                -34 -318 -22 -497 -30 -859 -36 -137 -2 -251 -7 -254 -9 -3 -3 -5 -284 -5
                                -623 l0 -618 189 1 c209 1 658 13 695 19 13 2 78 6 144 10 66 3 138 8 160 10
                                22 2 74 7 115 10 440 34 970 108 1503 211 192 38 237 49 238 63 0 9 1 289 2
                                624 l2 607 -25 -1 c-14 -1 -51 -7 -82 -15z" />
                                <path d="M962 3048 l3 -233 90 -12 c114 -16 529 -63 550 -63 13 0 15 30 15
                                233 l0 234 -167 17 c-93 10 -231 26 -307 37 -77 10 -150 19 -163 19 l-23 0 2
                                -232z" />
                                <path d="M1910 2946 l0 -236 28 0 c15 0 90 -4 167 -10 77 -5 213 -12 303 -16
                                l162 -7 0 235 0 235 -187 7 c-104 4 -201 9 -218 11 -16 2 -81 7 -142 10 l-113
                                7 0 -236z" />
                                <path d="M2 2438 l3 -233 105 -22 c58 -12 195 -38 305 -58 110 -20 210 -38
                                223 -41 l22 -4 0 234 0 234 -27 6 c-16 3 -82 15 -148 26 -66 12 -199 37 -295
                                56 -96 19 -178 34 -183 34 -4 0 -6 -105 -5 -232z" />
                                <path d="M1910 2166 l0 -236 23 0 c12 -1 82 -5 156 -10 73 -5 212 -12 307 -16
                                l174 -7 0 237 0 236 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80 4
                                -173 9 -207 13 l-63 5 0 -236z" />
                                <path d="M5700 1529 c-180 -39 -668 -121 -910 -153 -550 -73 -1088 -111 -1713
                                -121 -126 -2 -231 -6 -234 -9 -5 -4 -8 -1172 -4 -1234 1 -11 51 -13 284 -8
                                155 4 325 8 377 11 229 11 329 16 380 20 30 2 93 7 140 10 347 25 859 88 1260
                                156 237 40 591 108 599 115 2 2 4 282 4 621 l1 618 -25 2 c-13 0 -85 -12 -159
                                -28z" />
                                <path d="M962 1158 l3 -232 130 -18 c117 -15 309 -37 468 -54 l57 -6 0 235 0
                                235 -77 7 c-43 3 -185 20 -315 36 -131 16 -245 29 -253 29 -13 0 -15 -29 -13
                                -232z" />
                                <path d="M1910 1058 l0 -236 123 -6 c67 -4 138 -9 157 -11 19 -2 113 -7 208
                                -11 l172 -6 0 236 0 236 -92 1 c-51 0 -102 2 -113 4 -11 1 -83 6 -160 9 -77 4
                                -175 9 -217 13 l-78 6 0 -235z" />
                                <path d="M2 548 l3 -233 105 -22 c58 -12 195 -38 305 -58 110 -20 210 -38 223
                                -41 l22 -4 0 235 c0 129 -2 235 -5 235 -13 0 -507 92 -562 105 -35 8 -71 15
                                -79 15 -12 0 -14 -34 -12 -232z" />
                                <path d="M1910 277 l0 -235 108 -6 c59 -4 123 -9 142 -11 19 -2 119 -7 223
                                -11 l187 -7 0 237 0 236 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80
                                3 -173 9 -207 13 l-63 6 0 -236z" />
                            </g>
                        </svg>
                        <span class="splash-ping-root mod-show-on-mobile ml-3">
                            <div class="ping-container">
                                <div class="green-flasher"></div>
                            </div>
                            <p class="ping-time-text"></p>
                        </span>
                    </a>
                    <div class="mobile-menu_indicator">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </aside>
                <aside class="header_nav_lower">
                    <div class="header_desktop_only">
                        <div class="header_nav header_left header_visible">
                            <!-- <span class="header-tab-root">
                                        Platform
                                        <span class="header-tab-svg-root wrap inline">
                                            <span class="header-tab-svg-root link">
                                                <svg class="arrow" width="9" height="6" viewBox="0 0 9 6" fill="currentColor">
                                                    <path
                                                        d="M8.903 1.082l-3.8 4.263c-.01.018-.007.041-.022.058a.33.33 0 0 1-.25.097.321.321 0 0 1-.245-.098c-.017-.016-.012-.039-.024-.056l-3.8-4.263a.351.351 0 0 1 0-.483.325.325 0 0 1 .47 0l3.601 4.041L8.435.6A.322.322 0 0 1 8.9.6c.131.133.131.348.002.482z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="header-tab-root">
                                        Developers
                                        <span class="header-tab-svg-root wrap inline">
                                            <span class="header-tab-svg-root link">
                                                <svg class="arrow" width="9" height="6" viewBox="0 0 9 6" fill="currentColor">
                                                    <path
                                                        d="M8.903 1.082l-3.8 4.263c-.01.018-.007.041-.022.058a.33.33 0 0 1-.25.097.321.321 0 0 1-.245-.098c-.017-.016-.012-.039-.024-.056l-3.8-4.263a.351.351 0 0 1 0-.483.325.325 0 0 1 .47 0l3.601 4.041L8.435.6A.322.322 0 0 1 8.9.6c.131.133.131.348.002.482z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span> -->
                            <div class="header-contact-us">
                                <a role="button" type="text" href="/contact" class="button-muted custom-button button medium icon-color mod-themed mod-secondary mod-secondary-fill" style="font-weight: 400; text-transform: none;">
                                    <span class="button-muted custom-button text">Contact Us</span>
                                </a>
                            </div>
                        </div>
                        <div class="header_nav header_right">
                            <span style="box-sizing: border-box;">
                                <div class="logged-out-profile_wrapper">
                                    <div class="logged-out-profile_extra_items logged-out-profile_display">
                                        <a class="" href="/blog">Blog</a><a class="" href="/support">Support</a>
                                    </div>
                                    <a class="" href="/pricing">Pricing</a>
                                    <a class="" href="/blog">Blog</a>
                                    <a class="" href="/pricing">About</a>
                                    <a class="" href="https://app.easybase.io">Login</a>
                                    <div class="logged-out-profile_sign_up">
                                        <a role="button" type="text" href="https://app.easybase.io" class="custom-button-right sign-up-button-right button medium icon-color mod-themed mod-success mod-success-fill">
                                            <span class="custom-button-right sign-up-button-right text">Sign up</span>
                                        </a>
                                    </div>
                                    <span class="splash-ping-root mod-hide-on-mobile">
                                        <div class="ping-container">
                                            <div class="green-flasher"></div>
                                        </div>
                                        <p class="ping-time-text"></p>
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </aside>
            </header>
        </div>
        
        <nav class="mobile-nav">
        
            <i class="mobile-nav__close">
                <ion-icon id="icon-close-mobile" name="close-circle-outline"></ion-icon>
            </i>
        
            <div class="mobile-nav__wrapper">
        
                <ul class="mobile-nav__menu">
                    <h6>Platform</h6>
                    <li class="mobile-nav__menuitem enterprise">
                        <a id="btn-header-businesses-enterprise-mobile" href="/enterprise">Enterprise</a>
                    </li>
                    <li class="mobile-nav__menuitem pro">
                        <a id="btn-header-products-mobile" href="/appflow">Appflow</a>
                    </li>
                    <li class="mobile-nav__menuitem pricing">
                        <a id="btn-header-pricing-mobile" href="/pricing">Pricing</a>
                    </li>
        
                    <li class="mobile-nav__social">
                        <a target="_blank" href="https://github.com/ionic-team/ionic">
                            <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                        </a>
                        <a target="_blank" href="https://github.com/ionic-team/ionic">
                            <ion-icon name="logo-github" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                        </a>
                        <a target="_blank" href="https://github.com/ionic-team/ionic">
                            <ion-icon name="logo-stackoverflow" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                        </a>
                        <a target="_blank" href="https://github.com/ionic-team/ionic">
                            <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        
        </nav>


        <section class="section-grey">
            <div class="container">
                <div class="row">
                    <h1 class="section-header-text text-center mt-4 mb-5 pb-4">The most cost-effective database solution</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="pricing-card">
                            <div class="card-contents-root" style="background-color: #000;">
                                <h2 style="font-size:48px;" class="mb-3 section-header-text text-white">Enterprise</h2>
                                <h2 style="font-size:43px;" class="section-header-text mod-text-no-margin text-white">
                                    <br />
                                </h2>
                        
                                <ul class="free-tier-card-list-root my-4">
                                    <li class="text-white">
                                        <ion-icon name="checkmark-outline"></ion-icon>Single User
                                    </li>
                                    <li class="text-white">
                                        <ion-icon name="checkmark-outline"></ion-icon>1000 Records
                                    </li>
                                    <li class="text-white">
                                        <ion-icon name="checkmark-outline"></ion-icon>Unlimited Tables
                                    </li>
                                    <li class="text-white">
                                        <ion-icon name="checkmark-outline"></ion-icon>100 GB / month
                                    </li>
                                    <li class="text-muted">
                                        <ion-icon name="close-outline"></ion-icon>Instant Support
                                    </li>
                                    <li class="text-muted">
                                        <ion-icon name="close-outline"></ion-icon>Private Integrations
                                    </li>
                                </ul>
                        
                                <a role="button" type="text" href="/signup" style="background-color: #fff; border: 1px #fff solid;" class="hero-button hero-button-primary button shadow icon-color mod-themed mod-success mod-success-fill">
                                    <span class="hero-button hero-button-primary text" style="background-color: #fff; border: 1px #fff solid; color: #007bff;">try our pricing calculator</span>
                                </a>
                            </div>
                            <div class="card-contents-root">
                                <h2 style="font-size:48px;" class="mb-3 section-header-text">Free Tier</h2>
                                <h2 style="font-size:43px;" class="section-header-text mod-text-no-margin">
                                    $0<span class="pricing-month-text">/mo</span>
                                </h2>
                            
                                <ul class="free-tier-card-list-root my-4">
                                    <li>
                                        <ion-icon name="checkmark-outline"></ion-icon>Single User
                                    </li>
                                    <li>
                                        <ion-icon name="checkmark-outline"></ion-icon>1000 Records
                                    </li>
                                    <li>
                                        <ion-icon name="checkmark-outline"></ion-icon>Unlimited Tables
                                    </li>
                                    <li>
                                        <ion-icon name="checkmark-outline"></ion-icon>100 GB / month
                                    </li>
                                    <li class="text-muted">
                                        <ion-icon name="close-outline"></ion-icon>Instant Support
                                    </li>
                                    <li class="text-muted">
                                        <ion-icon name="close-outline"></ion-icon>Private Integrations
                                    </li>
                                </ul>
                            
                                <a role="button" type="text" href="/signup" class="hero-button hero-button-primary button shadow icon-color mod-themed mod-success mod-success-fill">
                                    <span class="hero-button hero-button-primary text">Get Started for Free</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section-blue">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-8 px-4 py-3">
                        <h2 class="cta-white-text text-white text-center text-md-left">A pricing model that makes life easy</h2>
                        <p class="section-content-text text-white text-center text-md-left">Estimate your monthly cost with the pricing calculator above.</p>
                    </div>

                    <div class="col-md-4 px-4 py-3">
                        <form class="newsletter-input-form">
                            <svg style="position: absolute; top: 16px; left: 16px;" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.2692 1.00012H2.73077C1.77452 1.00012 1 1.78324 1 2.75011V13.25C1 14.2169 1.77452 15 2.73077 15H17.2692C18.2255 15 19 14.2169 19 13.25V2.75011C19 1.78324 18.2255 1.00012 17.2692 1.00012Z" stroke="#CED6E0" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3.76953 3.80005L10.0003 8.70002L16.2311 3.80005" stroke="#CED6E0" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <input class="" name="email" type="email" placeholder="Get our Notifications" required="">
                            <button class="default" type="submit">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

<footer class="py-2 section-grey">
    <div class="container footer-content-container">
        <div class="row py-4 mod-hide-on-mobile">
            <div class="col-md-3 footer-content-section-root">
                <div class="footer-content-section mt-3">
                    <ion-icon name="pin-outline" size="large" style="margin-left: -9px;"></ion-icon>
                    <p class="footer-content-text contact-text pb-3 pl-1 mt-4">1679 Main Street Ave</p>
                    <p class="footer-content-text contact-text pb-3 pl-1">New York, NY</p>
                    <p class="footer-content-text contact-text pb-3 pl-1">14984</p>
                </div>
            </div>
            <div class="col-md-3 footer-content-section-root">
                <div class="footer-content-section mt-3">
                    <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
                    <p class="footer-content-text pb-3 pl-1 mt-4"><a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="tel:1234567890" class="contact-text">585-555-5555</a></p>
                </div>
            </div>
            <div class="col-md-3 footer-content-section-root">
                <div class="footer-content-section mt-3">
                    <ion-icon class="mb-4" name="newspaper-outline" size="large"></ion-icon>
                    {% for post in site.posts limit:4 %}
                    <p class="footer-content-text pb-3 pl-1"><a href="{{ post.url }}" class="contact-text">{{ post.title }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 footer-content-section-root">
                <div class="footer-content-section mt-3">
                    <ion-icon name="link-outline" size="large"></ion-icon>
                    <p class="footer-content-text pb-3 pl-1 mt-4"><a href="/" class="contact-text">Home</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/pricing" class="contact-text">Pricing</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/about" class="contact-text">About Us</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/blog" class="contact-text">Blog</a></p>
                </div>
            </div>
        </div>
        <div class="mod-show-on-mobile" style="display: block;">
            <div class="row d-flex justify-content-center">
                <div class="footer-content-section-mobile mb-5">
                    <div class="mr-4">
                        <ion-icon name="pin-outline" style="font-size: 40px;"></ion-icon>
                    </div>
                    <div>
                        <p class="footer-content-text contact-text pb-3 pl-1">1679 Main Street Ave</p>
                        <p class="footer-content-text contact-text pb-3 pl-1">New York, NY</p>
                        <p class="footer-content-text contact-text pb-3 pl-1">14984</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="footer-content-section-mobile mb-5">
                    <div class="mr-4">
                        <ion-icon name="chatbubbles-outline" style="font-size: 40px;"></ion-icon>
                    </div>
                    <div>
                        <p class="footer-content-text pb-3 pl-1"><a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a></p>
                        <p class="footer-content-text pb-3 pl-1"><a href="tel:1234567890" class="contact-text">585-555-5555</a></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="footer-content-section-mobile mb-3">
                    <div class="mr-4">
                        <ion-icon name="newspaper-outline" style="font-size: 40px;"></ion-icon>
                    </div>
                    <div>
                        {% for post in site.posts limit:4 %}
                        <p class="footer-content-text pb-3 pl-1"><a href="{{ post.url }}" class="contact-text">{{ post.title }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="container">
        <div class="row footer-button-root">

            <div class="footer-footer col-md-4 left-flex">
                <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                    <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                        <ion-icon name="logo-twitter" size="small"></ion-icon>
                    </button>
                </a>
                <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                    <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                        <ion-icon name="logo-stackoverflow" size="small"></ion-icon>
                    </button>
                </a>
                <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                    <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                        <ion-icon name="logo-linkedin" size="small"></ion-icon>
                    </button>
                </a>
                <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                    <button class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab">
                        <ion-icon name="logo-facebook" size="small"></ion-icon>
                    </button>
                </a>
            </div>

            <div class="footer-footer col-md-4 center-flex">
                <p class="copyright-text">© EasyBase 2016-2020</p>
            </div>

            <div class="footer-footer col-md-4 right-flex">
                <a class="footer-footlink " href="https://mdbootstrap.com/">Terms</a>
                <a class="footer-footlink " href="https://mdbootstrap.com/">Privacy</a>
                <a class="footer-footlink " href="https://mdbootstrap.com/">DNSMI</a>
            </div>

        </div>
    </div>

</footer>

    <script>

        window.addEventListener("load", function () {

            document.getElementById('banner_close').addEventListener('click', function () {
                document.getElementsByClassName('banner_banner')[0].classList.toggle('banner_hidden');
                document.documentElement.style.setProperty('--banner-height', "0px");
            });

            async function pingTimeWorker() {
                const ping_res = await fetch('https://api.easybase.io/pingResponseTime');
                const num = await ping_res.text();
                Array.from(document.getElementsByClassName("ping-time-text")).forEach(ele => ele.innerHTML = `${num}ms`);
                setTimeout(pingTimeWorker, 4500);
            }
            pingTimeWorker();


            document.getElementsByClassName("mobile-menu_indicator")[0].addEventListener('click', function () {
                document.getElementsByClassName("mobile-nav")[0].classList.toggle("visible");
            }, false);

            document.getElementById("icon-close-mobile").addEventListener('click', function () {
                document.getElementsByClassName("mobile-nav")[0].classList.toggle("visible");
            }, false);


            var getScrollY = function () { return (window.pageYOffset || window.document.documentElement.scrollTop) - (window.document.documentElement.clientTop || 0); };
            var getWindowWidth = function () { return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth; };

            window.addEventListener("scroll", function () {
                const banner_height = parseInt(window.getComputedStyle(document.documentElement).getPropertyValue("--banner-height").match(/\d+/));
                var scroll_pos = getScrollY();
                if (getWindowWidth() > 800) {
                    if (scroll_pos > banner_height) {
                        document.querySelector(".header_wrapper").classList.add("nav-on-scroll");
                    } else {
                        document.querySelector(".header_wrapper").classList.remove("nav-on-scroll");
                    }
                }
            });

        });


    </script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ecb2d63c75cbf1769eef6dc/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>Prism.plugins.autoloader.languages_path = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/'</script>
</body>
</html>