<footer class="py-2 section-grey" id="footer-root">
    <div class="container footer-content-container">
        <div class="row py-4">
            <div class="col-md-3 mb-4 mb-md-0">
                <img class="lazyload mb-2" data-src="/assets/images/blog_banner.png" width="200px" alt="easybase alternate splash banner" />
                <p class="footer-content-text contact-text m-0 pl-3">4120 Schenley Drive</p>
                <p class="footer-content-text contact-text m-0 pl-3">Pittsburgh, PA</p>
                <p class="footer-content-text contact-text m-0 pl-3">15260</p>
                <hr />
                <p class="footer-content-text m-0 mb-3 mb-md-1 pl-3"><b>Contact Us</b></p>
                <p class="footer-content-text m-0 mb-4 mb-md-0 pl-3"><a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a></p>
                <p class="footer-content-text m-0 pl-3"><a href="tel:4129450510" class="contact-text">412-945-0510</a></p>
            </div>
            <div class="col-md-4 footer-content-section-root my-4 my-md-0">
                <form id="message" action="https://formcarry.com/s/9OdMhO2UJo" method="POST" accept-charset="UTF-8">
                    <p class="footer-content-text mt-1 mb-3 pl-1" style="font-size: 1.25rem;"><b>Leave a message</b></p>
                    <fieldset>
                        <input placeholder="First Name" type="text" name="name" required>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Email address" type="email" name="email" required>
                    </fieldset>
                    <fieldset>
                        <textarea placeholder="Type your message here...." name="message" required></textarea>
                    </fieldset>
                    <fieldset>
                        <button name="submit" type="submit" data-submit="...Sending" class="custom-button-right sign-up-button-right button medium icon-color mod-themed mod-success mod-success-fill w-100">
                            <span class="custom-button-right sign-up-button-right text">Submit</span>
                        </button>
                    </fieldset>
                    <input name="_gotcha" style="display:none">
                    <input name="type" style="display:none" value="footer-contact">
                </form>
            </div>
            <div class="col-md-3 footer-content-section-root my-4 my-md-0">
                <div class="footer-content-section mt-3">
                    <ion-icon class="mb-4" name="newspaper-outline" size="large"></ion-icon>
                    {% for post in site.posts limit:4 %}
                    <p class="footer-content-text pb-3 pl-1"><a href="{{ post.url }}"
                            class="contact-text">{{ post.title | truncate: 30 }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2 footer-content-section-root my-4 my-md-0 mod-hide-on-mobile">
                <div class="footer-content-section mt-3">
                    <ion-icon name="link-outline" size="large"></ion-icon>
                    <p class="footer-content-text pb-3 pl-1 mt-4"><a href="/" class="contact-text">Home</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/pricing/" class="contact-text">Pricing</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/about/" class="contact-text">About Us</a></p>
                    <p class="footer-content-text pb-3 pl-1"><a href="/blog/" class="contact-text">Blog</a></p>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="container">
        <div class="row footer-button-root">

            <div class="footer-footer col-md-4 left-flex mod-hide-on-mobile">
                <a href="https://www.twitter.com/easybase_io" class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab" rel="noreferrer" target="_blank">
                    <ion-icon name="logo-twitter" size="small"></ion-icon>
                </a>
                <a href="https://stackoverflow.com/search?q=easybase" rel="noreferrer" class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab" target="_blank">
                    <ion-icon name="logo-stackoverflow" size="small"></ion-icon>
                </a>
                <a href="https://www.github.com/easybase" rel="noreferrer" class="btn bmd-btn-fab bmd-btn-fab-sm mr-2 footer-social-fab" target="_blank">
                    <ion-icon name="logo-github" size="small"></ion-icon>
                </a>
            </div>

            <div class="footer-footer col-md-4 center-flex">
                <p class="copyright-text">© EasyBase 2018-2020</p>
            </div>

            <div class="footer-footer col-md-4 right-flex">
                <a class="footer-footlink " href="/sitemap.xml">Sitemap</a>
                <a class="footer-footlink " href="/terms/">Terms</a>
                <a class="footer-footlink " href="/privacy/">Privacy</a>
            </div>

        </div>
    </div>

</footer>