<form id="message" action="https://formcarry.com/s/9OdMhO2UJo" method="POST" accept-charset="UTF-8">
    <p class="footer-content-text mt-1 mb-3 pl-1" style="font-size: 1.25rem;"><b>Leave a message</b></p>
    <fieldset>
        <label class="off-screen" for="message-name">First Name</label>
        <input placeholder="First Name" type="text" name="name" id="message-name" required>
    </fieldset>
    <fieldset>
        <label class="off-screen" for="message-email">Email address</label>
        <input placeholder="Email address" type="email" name="email" id="message-email" required>
    </fieldset>
    <fieldset>
        <label class="off-screen" for="message-message">Type your message here</label>
        <textarea placeholder="Type your message here..." name="message" id="message-message" required></textarea>
    </fieldset>
    <fieldset>
        <label class="off-screen" for="message-submit">Submit</label>
        <button name="submit" type="submit" id="message-submit" data-submit="...Sending" class="custom-button-right sign-up-button-right button medium icon-color mod-themed mod-success mod-success-fill btn btn-raised btn-success splash-button-try w-100">
            <span class="custom-button-right sign-up-button-right text">Submit</span>
        </button>
    </fieldset>
    <label class="off-screen" for="message-gotcha">Gotcha</label>
    <input name="_gotcha" style="display:none" id="message-gotcha">
    <label class="off-screen" for="message-type">Type</label>
    <input name="type" style="display:none" value="footer-contact" id="message-type">
</form>