<div class="banner_banner invert-theme">
    <a class="banner_text_link" href="/about/2020/09/20/Announcing-Mobile-Application/" style="display: flex;">
        <span class="banner_title">
            <span class="mod-hide-on-mobile" style="align-items: center;">EASYBASE announces mobile application <ion-icon name="chevron-forward-outline"></ion-icon></span>
            <span class="mod-show-on-mobile" style="align-items: center;">EASYBASE announces mobile application <ion-icon name="chevron-forward-outline"></ion-icon></span>
        </span>
        <!-- <span class="banner_link">Learn More →</span> -->
    </a>
    <span id="banner_close" class="banner_close">
        <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color:currentColor">
            <path d="M18 6L6 18"></path>
            <path d="M6 6l12 12"></path>
        </svg>
    </span>
</div>
<div class="header_wrapper">
    <header class="header_header" style="--full:var(--mod-page-width-with-margin);">
        <aside class="header_nav_upper">
            <div class="d-flex">
                <a class="header_logo mr-2" href="/">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="25.000000pt" height="25.000000pt"
                        viewBox="0 0 25.000000 25.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,25.000000) scale(0.004244,-0.004673)" fill="#000000" stroke="none">
                            <path d="M5705 5309 c-379 -79 -921 -161 -1350 -203 -430 -43 -707 -59 -1250
                    -72 -143 -3 -262 -10 -265 -14 -4 -6 -5 -1195 -1 -1234 1 -7 489 -1 676 9 44
                    2 134 7 200 10 66 3 140 8 165 10 25 2 88 7 140 10 52 3 111 8 130 10 19 2 69
                    7 110 10 68 6 362 38 450 50 502 65 1169 186 1171 211 0 8 1 287 2 622 0 592
                    0 607 -19 609 -10 1 -82 -12 -159 -28z" />
                            <path d="M960 4942 c0 -219 1 -238 18 -239 9 -1 87 -11 172 -22 162 -21 428
                    -51 455 -51 13 0 15 30 15 233 l0 234 -117 12 c-165 17 -515 61 -530 66 -10 3
                    -13 -47 -13 -233z" />
                            <path d="M1910 4836 l0 -236 48 -1 c26 0 54 -2 62 -3 18 -4 189 -13 398 -22
                    l152 -7 0 237 0 236 -92 1 c-51 0 -102 2 -113 4 -11 1 -83 6 -160 9 -77 4
                    -175 9 -217 13 l-78 6 0 -237z" />
                            <path d="M0 4327 l0 -233 143 -28 c187 -37 511 -95 514 -92 4 4 4 458 0 462
                    -1 2 -115 24 -251 49 -137 25 -277 52 -313 60 -35 8 -71 15 -79 15 -12 0 -14
                    -37 -14 -233z" />
                            <path d="M1910 4056 l0 -236 38 -1 c20 0 46 -2 57 -4 28 -4 192 -13 393 -21
                    l172 -7 0 236 0 237 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80 3
                    -173 9 -207 13 l-63 6 0 -237z" />
                            <path d="M5778 3434 c-269 -65 -999 -177 -1423 -219 -244 -23 -250 -24 -400
                    -34 -318 -22 -497 -30 -859 -36 -137 -2 -251 -7 -254 -9 -3 -3 -5 -284 -5
                    -623 l0 -618 189 1 c209 1 658 13 695 19 13 2 78 6 144 10 66 3 138 8 160 10
                    22 2 74 7 115 10 440 34 970 108 1503 211 192 38 237 49 238 63 0 9 1 289 2
                    624 l2 607 -25 -1 c-14 -1 -51 -7 -82 -15z" />
                            <path d="M962 3048 l3 -233 90 -12 c114 -16 529 -63 550 -63 13 0 15 30 15
                    233 l0 234 -167 17 c-93 10 -231 26 -307 37 -77 10 -150 19 -163 19 l-23 0 2
                    -232z" />
                            <path d="M1910 2946 l0 -236 28 0 c15 0 90 -4 167 -10 77 -5 213 -12 303 -16
                    l162 -7 0 235 0 235 -187 7 c-104 4 -201 9 -218 11 -16 2 -81 7 -142 10 l-113
                    7 0 -236z" />
                            <path d="M2 2438 l3 -233 105 -22 c58 -12 195 -38 305 -58 110 -20 210 -38
                    223 -41 l22 -4 0 234 0 234 -27 6 c-16 3 -82 15 -148 26 -66 12 -199 37 -295
                    56 -96 19 -178 34 -183 34 -4 0 -6 -105 -5 -232z" />
                            <path d="M1910 2166 l0 -236 23 0 c12 -1 82 -5 156 -10 73 -5 212 -12 307 -16
                    l174 -7 0 237 0 236 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80 4
                    -173 9 -207 13 l-63 5 0 -236z" />
                            <path d="M5700 1529 c-180 -39 -668 -121 -910 -153 -550 -73 -1088 -111 -1713
                    -121 -126 -2 -231 -6 -234 -9 -5 -4 -8 -1172 -4 -1234 1 -11 51 -13 284 -8
                    155 4 325 8 377 11 229 11 329 16 380 20 30 2 93 7 140 10 347 25 859 88 1260
                    156 237 40 591 108 599 115 2 2 4 282 4 621 l1 618 -25 2 c-13 0 -85 -12 -159
                    -28z" />
                            <path d="M962 1158 l3 -232 130 -18 c117 -15 309 -37 468 -54 l57 -6 0 235 0
                    235 -77 7 c-43 3 -185 20 -315 36 -131 16 -245 29 -253 29 -13 0 -15 -29 -13
                    -232z" />
                            <path d="M1910 1058 l0 -236 123 -6 c67 -4 138 -9 157 -11 19 -2 113 -7 208
                    -11 l172 -6 0 236 0 236 -92 1 c-51 0 -102 2 -113 4 -11 1 -83 6 -160 9 -77 4
                    -175 9 -217 13 l-78 6 0 -235z" />
                            <path d="M2 548 l3 -233 105 -22 c58 -12 195 -38 305 -58 110 -20 210 -38 223
                    -41 l22 -4 0 235 c0 129 -2 235 -5 235 -13 0 -507 92 -562 105 -35 8 -71 15
                    -79 15 -12 0 -14 -34 -12 -232z" />
                            <path d="M1910 277 l0 -235 108 -6 c59 -4 123 -9 142 -11 19 -2 119 -7 223
                    -11 l187 -7 0 237 0 236 -107 1 c-60 0 -115 2 -123 3 -8 2 -80 6 -160 10 -80
                    3 -173 9 -207 13 l-63 6 0 -236z" />
                        </g>
                    </svg>
                </a>

                <span class="splash-ping-root mod-show-on-mobile ml-3">
                    <div class="ping-container">
                        <div class="green-flasher"></div>
                    </div>
                    <p class="ping-time-text"></p>
                </span>
            </div>
            <div class="mobile-menu_indicator">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
        </aside>
        <aside class="header_nav_lower">
            <div class="header_desktop_only">
                <div class="header_nav header_left header_visible">
                    <div class="header-contact-us">
                        <button onclick="document.getElementById('footer-root').scrollIntoView({ behavior: 'smooth' })" class="button-muted custom-button button medium icon-color mod-themed mod-secondary mod-secondary-fill" style="font-weight: 400; text-transform: none;">
                            <span class="button-muted custom-button text">Contact Us</span>
                        </button>
                    </div>
                </div>
                <div class="header_nav header_right">
                    <span style="box-sizing: border-box;">
                        <div class="logged-out-profile_wrapper">
                            <a href="/pricing">Pricing</a>
                            <a href="/blog">Blog</a>
                            <a href="/about">About</a>
                            <a href="https://app.easybase.io">Login</a>
                            <div class="logged-out-profile_sign_up">
                                <a role="button" type="text" href="https://app.easybase.io/?view=signup" class="custom-button-right sign-up-button-right button medium icon-color mod-themed mod-success mod-success-fill">
                                    <span class="custom-button-right sign-up-button-right text">Sign up</span>
                                </a>
                            </div>
                            <span class="splash-ping-root mod-hide-on-mobile">
                                <div class="ping-container">
                                    <div class="green-flasher"></div>
                                </div>
                                <p class="ping-time-text"></p>
                            </span>
                        </div>
                    </span>
                </div>
            </div>
        </aside>
    </header>
</div>

<nav class="mobile-nav">

    <i class="mobile-nav__close">
        <ion-icon id="icon-close-mobile" name="close-circle-outline"></ion-icon>
    </i>

    <div class="mobile-nav__wrapper">

        <ul class="mobile-nav__menu">
            <h6>EasyBase</h6>
            <li class="mobile-nav__menuitem enterprise">
                <a href="/pricing">Pricing</a>
            </li>
            <li class="mobile-nav__menuitem pro">
                <a href="/blog">Blog</a>
            </li>
            <li class="mobile-nav__menuitem pricing">
                <a href="/about">About</a>
            </li>
            <li class="mobile-nav__menuitem pricing">
                <a href="https://app.easybase.io">Mobile Application</a>
            </li>

            <li class="mobile-nav__social">
                <a target="_blank" href="https://github.com/easybase" rel="noreferrer">
                    <ion-icon name="logo-github" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                </a>
                <a target="_blank" href="https://twitter.com/easybase_io" rel="noreferrer">
                    <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
                </a>
            </li>
        </ul>
    </div>

</nav>

<script src="/assets/js/header.min.js"></script>
