<form class="newsletter-input-form" onsubmit="var _emailInput=document.getElementById('subscribe-email-input'); captureLinkClick(_emailInput.value, 'emailSub', true); alert('Thank you for subscribing to Easybase news & updates!'); _emailInput.value=''; return false;">
    <svg style="position: absolute; top: 16px; left: 16px;" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.2692 1.00012H2.73077C1.77452 1.00012 1 1.78324 1 2.75011V13.25C1 14.2169 1.77452 15 2.73077 15H17.2692C18.2255 15 19 14.2169 19 13.25V2.75011C19 1.78324 18.2255 1.00012 17.2692 1.00012Z" stroke="#CED6E0" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path d="M3.76953 3.80005L10.0003 8.70002L16.2311 3.80005" stroke="#CED6E0" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <input id="subscribe-email-input" name="email" type="email" placeholder="Get our Notifications" required="">
    <button type="submit">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
</form>