@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZJW9XjDg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTmrINcdvfuJGl18Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdP3pBms.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTm5IVcdvfuJGl18Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono-Regular';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/SFMono-Regular.woff2") format('woff2');
    font-display: swap;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.brand {
    height: 100%;
}

.brand a {
    border: none !important;
    background-repeat: no-repeat;
    background-size: 205px auto;
    background-position: left;
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    height: 100%;
    text-decoration: none;
    width: 205px;
}

.about-easybase-checks {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.about-easybase-checks span {
    display: flex;
    align-items: center;
}

.about-easybase-checks p {
    font-size: 14px !important;
    margin: 0 0 0 3px;
    font-weight: 400;
}

.socials-content-footer-buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 150px;
}

.socials-content-footer-buttons button {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.author-image {
    position: relative;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    width: 193px;
    height: 193px;
}

.author-root {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}

.author-root::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    border-radius: 50%;
    border: 2px solid #ff7a59;
}

.author-description {
    font-size: 14px !important;
    font-style: italic;
    padding: 0 25px;
    text-align: center;
}

.sidebar-cards-root {
    margin-top: 40px;
    height: 93%;
}

.splash-button-try {
    padding-left: 35px !important;
    padding-right: 35px !important;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    margin-right: 30px;
}

.card-root {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    display: flex;
    flex-direction: column;
    padding: 15px 18px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 85px;
}

.sticky-sidebar {
    padding: 40px 18px;
    position: sticky;
    top: 110px;
}

.sticky-sidebar h2 {
    font-size: 29px;
    letter-spacing: -.001em;
    font-weight: 400;
}

.sticky-sidebar h3 {
    font-weight: 400;
    font-size: 18px;
}

.inline-breadcrumb-root {
    float: none !important;
    display: flex;
    font-size: 13px;
}

.inline-breadcrumb {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    padding: .45rem 1rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}

.title-image {
    width: 100%;
    max-height: 55vh;
    object-fit: cover;
}

.post-title {
    font-weight: 800;
    font-size: 46px;
    font-family: sans-serif;
    padding-bottom: 20px;
    color: #33475b;
}

.content-text {
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
}

.content-text p {
    line-height: 29px;
    margin-bottom: 1.9rem;
}

.content-text h1 {
    margin-bottom: 1.4rem;
    color: #33475b;
}

.content-text h2, h3, h4 {
    margin-bottom: .9rem;
    color: #33475b;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

.nav-regular-link {
    padding: 15px 20px;
    color: rgb(52, 55, 63);
    font-weight: 400;
    transition: border linear 75ms;
    text-decoration: none !important;
}

.nav-regular-link:hover {
    border-bottom: 2px solid;
    border-radius: 0;
}

.nav-regular-link:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    z-index: 1;
}

.nav-login-button {
    margin: 15px 20px;
    font-family: 'Roboto', sans-serif;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 17px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navigation {
    background: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px #ffffff00;
    -webkit-transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 2;
}

.navigation-scrolled {
    height: 73px !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

/* Mobile */

@media only screen and (max-width: 800px) {
    .main-content {
        margin-top: 90px;
    }
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 0 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    .nav-regular-link {
        padding: 20px;
        line-height: 60px;
        font-size: 30px;
        color: white;
    }
    .nav-regular-link:hover {
        border-bottom: none;
    }
    .nav-login-button {
        margin: 20px;
        font-size: 25px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-container {
        display: block;
        height: 100%;
    }
    .brand {
        position: relative;
        padding: 0px 20px;
    }
    .brand a {
        background-image: url("../images/logo2_transparent_md.png");
        background-size: 150px;
    }
    .nav-list {
        background-color: #2c2e2d;
        width: 100%;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -2;
        padding-top: 60px;
    }
    .navigation {
        position: absolute !important;
        background-color: #2c2e2d;
        height: 60px;
        top: 0;
    }
    .footer-button-root {
        justify-content: center;
    }
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: flex;
    }
    .footer-footer {
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .contact-text {
        font-size: 20px !important;
    }
}

/* Regular */

@media screen and (min-width: 800px) {
    .main-content {
        margin-top: 125px;
    }
    .nav-list {
        display: flex;
        align-items: center;
    }
    .nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding: 0px 9%;
        background-color: #f5f8fa;
        border-bottom: 1px solid #cbd6e2;
        z-index: 91;
    }
    .brand {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    .brand a {
        background-image: url("../images/blog_banner.png");
    }
    .nav-regular-link {
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid transparent;
    }
    .footer-button-root {
        justify-content: flex-start;
    }
    .footer-content-text {
        font-size: 1rem;
    }
    .hide-mobile {
        display: flex;
    }
    .show-mobile {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .wide-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wide-container {
        max-width: 780px;
    }
}

@media (min-width: 992px) {
    .wide-container {
        max-width: 1040px;
    }
}

@media (min-width: 1200px) {
    .wide-container {
        max-width: 1240px;
    }
}

.wide-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a:hover {
    text-decoration: none;
}

.a-button {
    border: none !important;
    display: flex;
}

/* Footer ++++++++++++++++++++++++++++ */

.footer-social-fab {
    background-color: #46444e !important;
    color: white !important;
    box-shadow: none !important;
}

.footer-content-section-root {
    display: flex;
    justify-content: center;
}

.footer-bg {
    background-color: #647df5;
}

.footer-content-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-footlink {
    color: #27234b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.left-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container {
    color: #fff;
    margin-top: 40px;
}

.footer-content-text {
    margin: 0px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}

.contact-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Footer -------------------------------- */

.main-content hr {
    margin: 2rem 0;
}

/* code CSS ++++++++++++++++++++++++  https://github.com/jwarby/jekyll-pygments-themes/blob/master/monokai.css */

.highlight pre {
    background-color: #1b2b34;
    border: 0;
    margin-top: 0.25em;
    margin-bottom: 1.75em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    color: white;
    font-size: 15px;
    color: #cdd3de;
}

.highlight .c {
    color: #93a1a1;
}
.highlight .g {
    color: #cdd3de;
}
.highlight .k {
    color: #99c794;
}
.highlight .l {
    color: #cdd3de;
}
.highlight .n {
    color: #cdd3de;
}
.highlight .o {
    color: #99c794;
}
.highlight .p {
    color: #cdd3de;
}
.highlight .x {
    color: #ec5f67;
}
.highlight .cm {
    color: #93a1a1;
}
.highlight .cp {
    color: #99c794;
}
.highlight .c1 {
    color: #93a1a1;
}
.highlight .cs {
    color: #99c794;
}
.highlight .gd {
    color: #fac863;
}
.highlight .ge {
    color: #cdd3de;
    font-style: italic;
}
.highlight .gr {
    color: #c594c5;
}
.highlight .gh {
    color: #ec5f67;
}
.highlight .gi {
    color: #99c794;
}
.highlight .go {
    color: #cdd3de;
}
.highlight .gp {
    color: #cdd3de;
}
.highlight .gs {
    color: #cdd3de;
}
.highlight .gu {
    color: #ec5f67;
}
.highlight .gt {
    color: #cdd3de;
}
.highlight .kc {
    color: #ec5f67;
}
.highlight .kd {
    color: #69c;
}
.highlight .kn {
    color: #99c794;
}
.highlight .kp {
    color: #99c794;
}
.highlight .kr {
    color: #69c;
}
.highlight .kt {
    color: #c594c5;
}
.highlight .ld {
    color: #cdd3de;
}
.highlight .m {
    color: #fac863;
}
.highlight .s {
    color: #fac863;
}
.highlight .na {
    color: #cdd3de;
}
.highlight .nb {
    color: #b58900;
}
.highlight .nc {
    color: #69c;
}
.highlight .no {
    color: #ec5f67;
}
.highlight .nd {
    color: #69c;
}
.highlight .ni {
    color: #ec5f67;
}
.highlight .ne {
    color: #ec5f67;
}
.highlight .nf {
    color: #69c;
}
.highlight .nl {
    color: #cdd3de;
}
.highlight .nn {
    color: #cdd3de;
}
.highlight .nx {
    color: #cdd3de;
}
.highlight .py {
    color: #cdd3de;
}
.highlight .nt {
    color: #69c;
}
.highlight .nv {
    color: #69c;
}
.highlight .ow {
    color: #99c794;
}
.highlight .w {
    color: #cdd3de;
}
.highlight .mf {
    color: #fac863;
}
.highlight .mh {
    color: #fac863;
}
.highlight .mi {
    color: #fac863;
}
.highlight .mo {
    color: #fac863;
}
.highlight .sb {
    color: #93a1a1;
}
.highlight .sc {
    color: #fac863;
}
.highlight .sd {
    color: #cdd3de;
}
.highlight .s2 {
    color: #fac863;
}
.highlight .dl {
    color: #fac863;
}
.highlight .se {
    color: #ec5f67;
}
.highlight .sh {
    color: #cdd3de;
}
.highlight .si {
    color: #fac863;
}
.highlight .sx {
    color: #fac863;
}
.highlight .sr {
    color: #c594c5;
}
.highlight .s1 {
    color: #fac863;
}
.highlight .ss {
    color: #fac863;
}
.highlight .bp {
    color: #69c;
}
.highlight .vc {
    color: #69c;
}
.highlight .vg {
    color: #69c;
}
.highlight .vi {
    color: #69c;
}
.highlight .il {
    color: #fac863;
}

.custom-lightbox {
    cursor: pointer;
    transition: filter 100ms ease-in-out;
    border-radius: 4px;
}

.custom-lightbox:hover {
    filter: brightness(80%) grayscale(20%);
}

#message input[type="text"], #message input[type="email"], #message input[type="tel"], #message input[type="url"], #message textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 6px;
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
}

#message {
    padding: 10px;
    width: 500px;
    max-width: 500px;
    border-radius: 5px;
}

#message textarea {
    height: 75px;
    max-width: 100%;
}

.off-screen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sectionBox {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    border-radius: 5px;
    margin: 25px 0;
}

.sectionBox p {
    margin: 0;
}

.content-text> :target {
    scroll-margin-top: 3.2em;
}

footer {
    overflow: hidden;
}

.featured-article p {
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    margin: 0 !important;
}

.featured-article span {
    margin-left: 10px;
    width: 100%;
    overflow: hidden;
}

.featured-article small {
    font-size: 10px;
    color: black;
}

.featured-article img {
    width: 90px;
    height: 45px;
    min-width: 90px;
    min-height: 45px;
    object-fit: cover;
    border-radius: 2px;
}

.highlighter-rouge {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
    background-color: #1b1f230d;
}

div.highlighter-rouge {
    background-color: transparent !important;
}

.undraggable {
    user-select: none;
    pointer-events: none;
}

.newsletter-input-form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    border-collapse: separate;
    width: 100%;
    height: 48px;
    border-radius: .2rem;
    background: #fff;
    border: 1px solid #e9edf3;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s;
}

.newsletter-input-form button {
    background: transparent;
    color: #7cabff;
    font-size: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none !important;
}

.newsletter-input-form input {
    border: none;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    color: #24282e;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    letter-spacing: 0.025rem;
    height: 100%;
    outline: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 16px 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 6px 0 0 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 46px;
}

.newsletter-input-form:hover {
    border: 1px solid #272822;
}

.toc-root h4 {
    font-size: 22px;
    color: #33475b;
    padding-bottom: .25em;
    margin: 0;
    border-bottom: 1px solid #cbd6e2;
    position: relative;
    left: -12px;
    padding-left: 12px;
}

.toc-root nav {
    margin: 0;
    border-bottom: 1px solid #cbd6e2;
    position: relative;
    left: -12px;
    padding-left: 12px;
}

.toc-root nav li {
    text-shadow: 0 0 1px transparent;
    left: -.75rem;
    position: relative;
    width: calc(100% + .75rem);
    display: flex;
    transition: background-color linear 50ms;
}

.toc-root nav li:hover {
    color: #33475b;
    cursor: pointer;
    text-decoration: none;
    background-color: #eaf0f6;
    border-radius: .1875rem;
}

.toc-root nav li a {
    text-shadow: 0 0 1px transparent;
    font-size: 14px;
    font-size: .875rem;
    font-family: AvenirNext,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #33475b;
    left: -.75rem;
    line-height: 1rem;
    width: 100%;
    padding: .75rem;
}

.horizontal-card-root {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 18px;
    border-radius: 5px;
}

.author-image-sm {
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    width: 76px;
    height: 76px;
}

.author-root-sm {
    width: 80px;
    height: 80px;
    position: relative;
}

.author-root-sm::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    border: 2px solid #ff7a59;
}
