/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* primary: {
    main: '#556cd6',
    light: '#8b9aff',
    dark: '#0c42a4'
},
secondary: {
    main: '#ff9e22',
    light: '#ffcf57',
    dark: '#c66f00'
}, */

/* 
Shadow 1dp
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

Shadow 2dp
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);

Shadow 3dp
box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);

Shadow 4dp
box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);

Shadow 6dp
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

Shadow 8dp
box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

Shadow 9dp
box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);

Shadow 12dp
box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

Shadow 16dp
box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);

Shadow 24dp
box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
*/

* {
    font-family: 'Baloo 2', serif;
}

body {
    position: relative;
    z-index: -400;
    background-color: white !important;
}

.brush-stroke {
    position: absolute;
    left: 23px;
    top: 0px;
    width: 230px;
    z-index: -1;
    /* transform: rotate(170deg); */
}

.footer-bg {
    position: relative;
    background-size: auto 126vh;
    background-repeat: no-repeat;
    background-position: 0 -30px;
    background-image: url("../images/footer-bg.png");
}

.section-overflow {
    max-width: 100%;
    overflow: hidden;
}

.hero-bg {
    background-image: url("../images/hero-bg.png");
    background-size: 100vw 93vh;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    overflow: hidden;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

.nav-regular-link {
    padding: 12px 20px;
    color: #fff;
    font-weight: 500;
    transition: border linear 70ms, color linear 70ms;
    text-decoration: none !important;
}

.nav-regular-link:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

.nav-regular-link:hover {
    text-decoration: none !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.nav-login-button {
    font-family: 'Roboto', sans-serif;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    z-index: 1;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navigation {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100px;
    transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1000;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.splash-root {
    width: 86vw;
    height: 80vh;
    z-index: 100;
}

.splash-text-root {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    height: 100%;
}

.splash-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}


.splash-buttons button {
    margin-bottom: 13px;
}

.splash-gif {
    display: flex;
    height: 100%;
}

.splash-button-try {
    padding-left: 35px !important;
    padding-right: 35px !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    margin-right: 30px;
}

.splash-primary-text {
    font-weight: 600;
    font-size: calc(0.8vw + 30px);
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-family: 'Roboto Slab', serif;
    color: #fafafa;
    padding-top: 50px;
}

.splash-secondary-text {
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.4;
    color: #fafafa;
    font-size: calc(0.25vw + 20px);
}

.confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -7;
    background-color: white;
}

.splash-checks span {
    display: inline-block;
}

.splash-checks h6 {
    font-size: 17px;
    margin: 0;
    word-wrap: none;
    letter-spacing: 0.85px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.section-about {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.section-price {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.section-secure {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.section-header {
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    letter-spacing: 0.4px;
    margin-bottom: 55px;
}

.section-actions-cards {
    padding: 90px 0px;
}

.section-subheader {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.65px;
    margin-bottom: 40px;
    z-index: 3;
}

.section-text-content, .section-text-content ul li {
    font-size: 21px;
    letter-spacing: 0.25px;
    font-weight: 500;
}

.footer-content-container {
    color: #eee;
    margin-top: 40px;
}

.footer-content-text {
    margin: 0px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}

/* Mobile */

@media only screen and (max-width: 800px) {
    .bg-blue-rect-1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #556cd6;
        z-index: 3;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 8px 0px 0px #8b9aff;
        box-shadow: 0px 8px 0px 0px #8b9aff;
    }
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 30px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    .nav-regular-link {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    .nav-login-button {
        margin: 20px;
        font-size: 25px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
    .nav-container {
        display: block;
    }
    .brand {
        top: 50%;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        position: relative;
        padding: 0px 20px;
    }
    .nav-list {
        background-color: #313133;
        width: 100%;
    }
    .navigation {
        position: fixed;
        background-color: #313133;
        height: 70px;
        top: 0;
    }
    .splash-primary-text {
        padding-top: 0;
    }
    .brush-stroke {
        display: none;
    }
    .hero-bg {
        height: 100vh;
        background-size: cover;
    }

    .footer-footer {
        justify-content: center !important;
        padding-bottom: 10px;
    }
    .footer-content-text {
        font-size: 1.15rem;
    }

    .footer-content-section {
        margin-left: 15%;
    }
    
    .splash-checks h6 {
        padding: 3px 100px 0 6px !important;
    }

    .footer-button-root {
        justify-content: center;
    }
}

/* Regular */

@media screen and (min-width: 800px) {
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 20px;
        height: 70px;
        width: 70px;
    }
    .nav-list {
        display: flex;
        align-items: center;
    }
    .nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding: 0px 9%;
    }
    .brand {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    .nav-regular-link {
        font-family: 'Roboto', sans-serif;
    }
    .footer-content-text {
        font-size: 1rem;
    }
    .splash-checks h6 {
        padding: 2px 25px 0 3px;
    }
    .nav-login-button {
        margin: 15px 20px !important;
        font-size: 25px; 
    }

    .footer-button-root {
        justify-content: flex-start;
    }
}

.unselectable-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.product-screen-img {
    box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
    /* width: 250px; /* width of container */
}

.product-view-root {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-footlink {
    margin-right: 8px;
    color: #27234b;
    font-family: 'Roboto', sans-serif;
}

.left-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.action-card {
    box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20) !important;
    border-radius: .4rem !important;
    margin: 4% 12%;
}

.action-card-color-1 {
    color: #03a9f4 !important;
}

.action-card-color-2 {
    color: #7c4dff !important;
}

.action-card-color-3 {
    color: #ff80ab !important;
}

@media (min-width: 768px) {
  .wide-container{
    max-width: 950px;
  }
}

@media (min-width: 992px) {
  .wide-container{
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .wide-container{
    max-width: 1400px;
  }
}

.wide-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.action-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.action-card-header h5 {
    font-weight: 500;
    margin: 0;
    padding-left: 10px;
}

.action-card-header-icon {
    font-size: 48px;
}

.highlight {
    position: relative;
    background: 0 0;
}

.highlight::before {
    content: '';
    background: #d1ebff;
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 10px;
    height: 16px;
    z-index: -1;
}


.section-arrow-button-blue {
    color: #4d8dff !important;
}

.arrow-btn-lg {
    padding: .5rem 1rem !important;
    font-size: 1.425rem !important;
    border-radius: .3rem !important;
    display: inline-flex !important;
    align-items: center !important;
    line-height: normal !important;

}

.arrow-btn-lg ion-icon {
    margin-bottom: 2px;
}

.arrow-btn-sm {
    padding: .5rem 1rem !important;
    font-size: 1.2rem !important;
    border-radius: .3rem !important;
    display: inline-flex !important;
    align-items: center !important;
    line-height: normal !important;
}

a {
    transition: border linear 50ms;
}

a:hover {
    text-decoration: none !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.a-button {
    border: none !important;
    display: flex;
}

.footer-content-section {
    display: flex; 
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;   
}