body, html {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--geist-background);
    color: var(--geist-foreground);
    scroll-padding-top: var(--header-height);
    margin: 0;
}

svg {
    shape-rendering: crispEdges;
}

*, :after, :before {
    box-sizing: inherit;
}

.header_wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--geist-background);
    z-index: 101;
    min-height: var(--header-height);
    transition: box-shadow .1s ease 0s;
    box-shadow: var(--header-border-bottom);
}

.header_header {
    width: var(--full);
    margin: auto;
    padding-left: var(--geist-page-margin);
    padding-right: var(--geist-page-margin);
}

.header_nav_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_lower {
    width: auto;
    display: none;
    margin-bottom: 30px;
}

.header_visible {
    opacity: 1 !important;
    pointer-events: all !important;
}

.header_left {
    display: flex;
    align-items: center;
    left: 50px;
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
}

.header_nav {
    display: flex;
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}

.header_nav a {
    font-size: 14px;
    padding: 0 10px;
    color: var(--accents-5);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.header_logo {
    cursor: pointer;
    display: inline-flex;
    position: relative;
}

span.header-tab-root {
    display: none;
    visibility: hidden;
    user-select: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px 10px;
    transition: color 200ms ease 0s;
}

.wrap.inline.header-tab-svg-root {
    vertical-align: middle;
}

.wrap.inline.header-tab-svg-root, .link.header-tab-svg-root {
    display: inline-block;
}

.link.header-tab-svg-root {
    cursor: pointer;
}

div.header-contact-us {
    margin-left: 10px;
}

.mobile-menu_indicator {
    width: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--geist-radius);
    background: transparent;
    transition: background-color .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.menu-toggle_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header_desktop_only {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    visibility: visible;
}

.header_right {
    margin-left: auto;
}

.button.geist-themed.geist-secondary.custom-button {
    --button-fg: var(--accents-5);
    --button-bg: var(--geist-background);
    --button-border: var(--accents-2);
}

.button.medium.custom-button {
    min-width: auto;
    height: 32px;
    line-height: 0;
    font-size: 0.875rem;
    padding: 6px 12px 6px 12px;
}

.button.button-muted {
    --button-fg: #fff;
    --button-bg: #666;
    --button-border: #666;
}

.button.custom-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: var(--geist-radius);
    font-size: 0.875rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    color: var(--button-fg);
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.geist-themed.geist-secondary-fill {
    --themed-fg: #fff;
    --themed-bg: var(--geist-secondary);
    --themed-border: var(--geist-secondary);
}

.geist-themed.geist-secondary {
    --themed-fg: var(--geist-secondary);
    --themed-bg: var(--geist-background);
    --themed-border: var(--themed-fg);
}

.logged-out-profile_wrapper {
    display: flex;
    align-items: center;
}

.logged-out-profile_display {
    opacity: 1;
}

.logged-out-profile_extra_items {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.logged-out-profile_wrapper a {
    text-decoration: none;
    transition: color .2s ease-in-out;
    text-transform: capitalize;
    color: var(--accents-5);
    border: 0;
    font-size: 14px;
    padding: 10px;
}

.logged-out-profile_sign_up {
    margin-left: 10px;
    margin-right: 15px;
}

.button.medium.sign-up-button-right {
    min-width: auto;
    height: 32px;
    line-height: 0;
    font-size: 0.875rem;
    padding: 6px 12px 6px 12px;
}

.button.sign-up-button-right {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: var(--geist-radius);
    font-size: 0.875rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    color: var(--button-bg);
    background-color: var(--geist-success);
    border: 1px solid var(--button-border);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.button.custom-button-right {
    --button-fg: var(--themed-fg);
    --button-bg: var(--themed-bg);
    --button-border: var(--themed-border);
}

.geist-themed.geist-success-fill {
    --themed-fg: #fff;
    --themed-bg: var(--geist-success);
    --themed-border: var(--geist-success);
}

.geist-themed.geist-success {
    --themed-fg: var(--geist-success);
    --themed-bg: var(--geist-background);
    --themed-border: var(--themed-fg);
}

.logged-out-profile_wrapper a {
    text-decoration: none;
    transition: color .2s ease-in-out;
    text-transform: capitalize;
    color: var(--accents-5);
    border: 0;
    font-size: 14px;
    padding: 10px;
}

.button.sign-up-button-right, .text.sign-up-button-right {
    position: relative;
    z-index: 1;
    margin-left: 0;
}

.button.custom-button:hover, .button.custom-button:focus, .button.custom-button:active, .button.custom-button:focus-within {
    color: var(--button-fg-hover);
    background-color: var(--button-bg-hover);
    border-color: var(--button-border-hover);
}

.link.header-tab-svg-root .arrow {
    margin-left: 5px;
    margin-bottom: 2px;
}

.banner_banner {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accents-8);
    transform-origin: top center;
    border-bottom: 1px solid var(--accents-2);
    transition: transform .2s ease, height .3s ease;
    z-index: 102;
    font-size: 14px;
    text-align: center;
    color: var(--geist-background);
}

.banner_text_link {
    color: inherit !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.banner_title {
    font-size: 14px;
}

.geist-hide-on-mobile {
    display: none;
}

.banner_close {
    display: inline-flex;
    color: var(--accents-5);
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.banner_link {
    font-weight: 600;
    text-decoration: none;
}

.banner_link:before {
    content: "";
    display: inline-block;
    border-left: 1px solid var(--accents-2);
    height: 16px;
    line-height: 1;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.home_hero {
    background-image: radial-gradient(70% 70% at 50% 100%, #e8e8e8 0, #fafafa 100%);
    height: calc(700px - 40px - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-root {
    width: 60vw;
    height: 100%;
    overflow: visible;
    box-shadow: --header-border-bottom;
}

.hero-checks {
    display: flex;
}

.hero-checks span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.hero-checks h6 {
    font-size: 17px;
    margin: 0;
    margin-left: 10px;
    word-wrap: none;
    letter-spacing: 0.85px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.hero-video {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.hero-video-root {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 65vh;
    left: 0;
    right: 0;
}

.hero-primary-text {
    color: inherit;
    text-align: center;
    margin: 0;
    font-family: var(--font-sans);
    line-height: 1.01em;
    font-weight: 800;
    letter-spacing: -.049375rem;
    font-size: 64px;
    font-weight: 700;
    text-transform: none;
}

.hero-secondary-text {
    font-family: var(--font-sans);
    color: inherit;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    text-transform: none;
    line-height: 1.7;
    font-size: 18px!important;
    margin: 0;
}

.hero-buttons-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geist-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
    flex: var(--flex);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

.button.shadow.hero-button {
    font-weight: 400;
    box-shadow: var(--shadow-small);
}

.button.hero-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 50px;
    padding: 0 25px 0 25px;
    border-radius: var(--geist-radius);
    font-size: 1rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.hero-button-secondary {
    color: var(--accents-3);
}

.hero-button-primary {
    background-color: var(--geist-success);
    border: 1px solid var(--geist-success);
    color: var(--geist-background);
}

.splash-ping-root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
}

.splash-ping-root p {
    font-family: monospace, monospace;
    margin: 0 !important;
    color: #00ff08;
    letter-spacing: 1.15px;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    left: -12px;
}

.ping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.ping-container::after {
    display: flex;
    background: #22e2298c;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    content: "";
    z-index: -1;
    position: relative;
    top: 0;
    left: -17px;
    right: 0;
    bottom: 0;
}

.green-flasher {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ff08;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@media screen and (min-width: 800px) {
    .header_wrapper:not(.header_not_sticky) {
        -webkit-backdrop-filter: saturate(180%) blur(5px);
        backdrop-filter: saturate(180%) blur(5px);
    }
    .header_wrapper {
        background-color: var(--header-background);
    }
    .header_header, .header_nav {
        display: flex;
        flex-direction: row;
    }
    .header_header {
        align-items: center;
    }
    .mobile-menu_indicator {
        display: none;
    }
    .header_nav_lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 10px;
        width: 100%;
        background-color: transparent;
    }
    span.header-tab-root {
        display: block;
        visibility: visible;
    }
    .banner_title {
        font-weight: 600;
    }
    .geist-show-on-mobile {
        display: none!important;
    }
    .geist-hide-on-mobile {
        display: flex;
    }
}

@media (hover: hover) {
    .header_nav a:hover {
        color: var(--geist-foreground);
    }
    span.header-tab-root:hover, span.is-active.header-tab-root .wrap .link .arrow, span.is-active.header-tab-root {
        color: var(--geist-foreground);
        fill: var(--geist-foreground);
    }
    .button.geist-themed.geist-secondary.custom-button:not(.shadow):hover, .button.geist-themed.geist-secondary.custom-button:not(.shadow):focus, .button.geist-themed.geist-secondary.custom-button:not(.shadow):active {
        --button-fg-hover: var(--geist-foreground);
        --button-bg-hover: var(--geist-background);
        --button-border-hover: var(--geist-foreground);
    }
    .button.sign-up-button-right:hover, .button.sign-up-button-right:focus, .button.sign-up-button-right:active, .button.sign-up-button-right:focus-within {
        color: var(--geist-success);
        background-color: var(--button-bg-hover);
        border-color: var(--geist-success);
    }
    .button.hero-button:hover, .button.hero-button:focus, .button.hero-button:active {
        box-shadow: var(--shadow-medium);
        -webkit-transform: translate3d(0px, -1px, 0px);
        -ms-transform: translate3d(0px, -1px, 0px);
        transform: translate3d(0px, -1px, 0px);
    }
}

:root {
    --geist-foreground: #000;
    --geist-background: #fff;
    --geist-selection: var(--geist-cyan);
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
    --geist-link-color: var(--geist-success);
    --geist-marketing-gray: #fafbfc;
    --geist-code: var(--geist-purple);
    --geist-success-light: #3291ff;
    --geist-success: #0070f3;
    --geist-success-dark: #0366d6;
    --geist-error-light: #ff1a1a;
    --geist-error: #e00;
    --geist-error-dark: #c00;
    --geist-warning-light: #f7b955;
    --geist-warning: #f5a623;
    --geist-warning-dark: #f49b0b;
    --geist-secondary-light: var(--accents-3);
    --geist-secondary: var(--accents-5);
    --geist-secondary-dark: var(--accents-7);
    --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
    --dropdown-triangle-stroke: #fff;
    --scroller-start: #fff;
    --scroller-end: hsla(0, 0%, 100%, 0);
    --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
    --portal-opacity: 0.25;
    --geist-space: 4px;
    --geist-space-2x: 8px;
    --geist-space-4x: 16px;
    --geits-space-8x: 32px;
    --geist-space-16x: 64px;
    --geist-space-32x: 128px;
    --geist-space-small: 32px;
    --geist-space-medium: 40px;
    --geist-space-large: 48px;
    --geist-space-gap: 24px;
    --geist-space-gap-half: 12px;
    --geist-space-gap-quarter: var(--geist-space-2x);
    --geist-gap: var(--geist-space-gap);
    --geist-gap-half: var(--geist-space-gap-half);
    --geist-gap-quarter: var(--geist-space-gap-quarter);
    --geist-gap-double: var(--geist-space-large);
    --geist-space-negative: -4px;
    --geist-space-2x-negative: -8px;
    --geist-space-4x-negative: -16px;
    --geits-space-8x-negative: -32px;
    --geist-space-16x-negative: -64px;
    --geist-space-32x-negative: -128px;
    --geist-space-small-negative: -32px;
    --geist-space-medium-negative: -40px;
    --geist-space-large-negative: -48px;
    --geist-space-gap-negative: -24px;
    --geist-space-gap-half-negative: -12px;
    --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
    --geist-gap-negative: var(--geist-space-gap-negative);
    --geist-gap-half-negative: var(--geist-space-gap-half-negative);
    --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
    --geist-gap-double-negative: var(--geist-space-large-negative);
    --geist-page-margin: var(--geist-space-gap);
    --geist-page-width: 1000px;
    --geist-page-width-with-margin: 1048px;
    --geist-radius: 5px;
    --geist-marketing-radius: 8px;
    --geist-cyan: #79ffe1;
    --geist-cyan-dark: #50e3c2;
    --geist-cyan-darker: #29bc9b;
    --geist-purple: #f81ce5;
    --geist-violet: #7928ca;
    --geist-alert: #ff0080;
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    --header-height: 64px;
    --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    --header-background: hsla(0, 0%, 100%, 0.8);
    --geist-form-large-font: 1rem;
    --geist-form-large-line-height: 1.5rem;
    --geist-form-large-height: var(--geist-space-large);
    --geist-form-small-font: 0.875rem;
    --geist-form-small-line-height: 0.875rem;
    --geist-form-small-height: var(--geist-space-small);
    --geist-form-font: 0.875rem;
    --geist-form-line-height: 1.25rem;
    --geist-form-height: var(--geist-space-medium);
}