@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

body, html {
    font-family: var(--font-sans) !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--mod-foreground);
    margin: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

.highlight::before {
    content: '';
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 5px;
    height: 16px;
    z-index: 8;
}

.highlight {
    position: relative;
    background: 0 0;
}

.highlight span {
    z-index: 10;
    position: relative;
}

.highlight-sm::before {
    content: '';
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 2px;
    height: 10px;
    z-index: 8;
}

.highlight-sm {
    position: relative;
    background: 0 0;
}

.highlight-sm span {
    z-index: 10;
    position: relative;
}

.header_wrapper {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--mod-background);
    z-index: 101;
    height: var(--header-height);
    transition: height .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: var(--header-border-bottom);
}

.header_header {
    width: var(--full);
    margin: auto;
    padding-left: var(--mod-page-margin);
    padding-right: var(--mod-page-margin);
}

.header_nav_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_lower {
    width: auto;
    display: none;
    margin-bottom: 30px;
}

.header_visible {
    opacity: 1 !important;
    pointer-events: all !important;
}

.header_left {
    display: flex;
    align-items: center;
    left: 50px;
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
}

.header_nav {
    display: flex;
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}

.header_nav a {
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--accents-5);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.header_logo {
    display: inline-flex;
    position: relative;
}

span.header-tab-root {
    display: none;
    visibility: hidden;
    user-select: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px 10px;
    transition: color 200ms ease 0s;
}

.wrap.inline.header-tab-svg-root {
    vertical-align: middle;
}

.wrap.inline.header-tab-svg-root, .link.header-tab-svg-root {
    display: inline-block;
}

.link.header-tab-svg-root {
    cursor: pointer;
}

div.header-contact-us {
    margin-left: 10px;
}

.mobile-menu_indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--mod-radius);
    background: transparent;
    transition: background-color .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.mobile-menu_indicator ion-icon {
    font-size: 32px;
}

.header_desktop_only {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    visibility: visible;
}

.header_right {
    margin-left: auto;
}

.button.mod-themed.mod-secondary.custom-button {
    --button-fg: var(--accents-5);
    --button-bg: var(--mod-background);
    --button-border: var(--accents-2);
}

.button.medium.custom-button {
    min-width: auto;
    height: 32px;
    line-height: 0;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
}

.button.button-muted {
    --button-fg: #fff;
    --button-bg: #666;
    --button-border: #666;
}

.button.custom-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: var(--mod-radius);
    font-size: 0.875rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    color: var(--button-fg);
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.mod-themed.mod-secondary-fill {
    --themed-fg: #fff;
    --themed-bg: var(--mod-secondary);
    --themed-border: var(--mod-secondary);
}

.mod-themed.mod-secondary {
    --themed-fg: var(--mod-secondary);
    --themed-bg: var(--mod-background);
    --themed-border: var(--themed-fg);
}

.logged-out-profile_wrapper {
    display: flex;
    align-items: center;
}

.logged-out-profile_wrapper a {
    text-decoration: none;
    transition: color .2s ease-in-out;
    text-transform: capitalize;
    color: var(--accents-5);
    border: 0;
    font-size: 15px;
    padding: 10px;
}

.logged-out-profile_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.logged-out-profile_wrapper ul li {
    display: inline-block;
}


.logged-out-profile_display {
    opacity: 1;
}

.logged-out-profile_extra_items {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.logged-out-profile_sign_up {
    margin-left: 10px;
    margin-right: 15px;
}

.button.medium.sign-up-button-right {
    min-width: auto;
    height: 32px;
    line-height: 0;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
}

.button.sign-up-button-right {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 700;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: var(--mod-radius);
    font-size: 0.875rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    color: var(--button-bg);
    background-color: var(--mod-success);
    border: 1px solid var(--button-border);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.button.custom-button-right {
    --button-fg: var(--themed-fg);
    --button-bg: var(--themed-bg);
    --button-border: var(--themed-border);
}

.mod-themed.mod-success-fill {
    --themed-fg: #fff;
    --themed-bg: var(--mod-success);
    --themed-border: var(--mod-success);
}

.mod-themed.mod-success {
    --themed-fg: var(--mod-success);
    --themed-bg: var(--mod-background);
    --themed-border: var(--themed-fg);
}

.button.sign-up-button-right, .text.sign-up-button-right {
    position: relative;
    z-index: 1;
    margin-left: 0;
}

.button.custom-button:hover, .button.custom-button:focus, .button.custom-button:active, .button.custom-button:focus-within {
    color: var(--button-fg-hover);
    background-color: var(--button-bg-hover);
    border-color: var(--button-border-hover);
}

.link.header-tab-svg-root .arrow {
    margin-left: 3px;
    margin-bottom: 3px;
}

.banner_banner {
    width: 100%;
    height: var(--banner-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accents-8);
    transform-origin: top center;
    border-bottom: 1px solid var(--accents-2);
    transition: transform .2s ease, height .3s ease;
    z-index: 102;
    font-size: 14px;
    text-align: center;
    color: var(--mod-background);
}

.banner_banner.banner_hidden {
    height: 0;
    transform: scaleY(0);
}

.banner_text_link {
    color: inherit !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.banner_title {
    font-size: 14px;
}

.banner_close {
    display: inline-flex;
    color: var(--accents-5);
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.banner_link {
    font-weight: 600;
    text-decoration: none;
}

.banner_link:before {
    content: "";
    display: inline-block;
    border-left: 1px solid var(--accents-2);
    height: 16px;
    line-height: 1;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.home_hero {
    background-image: linear-gradient(#fbfbfb 90%, #ececec 100%);
    height: calc(100vh - var(--banner-height) - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--header-border-bottom);
    overflow: hidden;
}

.hero-left-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.hero-checks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hero-checks span {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.hero-checks span ion-icon {
    color: var(--accents-6);
    vertical-align: middle;
    font-size: 18px;
    margin-right: 6px;
}

.hero-checks h6 {
    font-size: 14px;
    margin: 0;
    margin-right: 15px;
    word-wrap: none;
    letter-spacing: 0.65px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.hero-video-root {
    display: flex;
    justify-content: center;
}

.hero-row-root {
    height: calc(100vh - var(--banner-height));
    align-items: center;
}

.hero-primary-text {
    color: inherit;
    margin: 0;
    font-family: var(--font-sans);
    line-height: 1.11em;
    font-weight: 800;
    letter-spacing: -0.0222974;
    font-size: 64px;
    font-weight: 700;
    text-transform: none;
}

.hero-secondary-text {
    font-size: 18px !important;
    letter-spacing: -0.014em;
    line-height: 28px;
    font-family: var(--font-sans);
    color: inherit;
    text-align: inherit;
    font-weight: 400;
    text-transform: none;
    margin: 0;
}

.hero-buttons-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mod-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
    flex: var(--flex);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

.button.shadow.hero-button {
    box-shadow: var(--shadow-small);
}

.button.hero-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 700;
    font-family: var(--font-sans);
    min-width: 170px;
    height: 50px;
    padding: 0 25px 0 25px;
    border-radius: var(--mod-radius);
    font-size: 1rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    text-transform: uppercase;
}

.hero-button-secondary {
    color: var(--accents-5);
}

.hero-button-primary {
    background-color: var(--mod-success);
    border: 1px solid var(--mod-success);
    color: var(--mod-background);
}

.hero-button-primary-white {
    background-color: var(--mod-background);
    border: 1px solid var(--mod-background);
    color: var(--mod-success);
    width: 100px;
    padding-left: 10px;
}

.hero-button-primary-white ion-icon {
    font-size: 20px;
    padding-right: 4px;
}

.splash-ping-root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
}

.splash-ping-root p {
    font-family: monospace, monospace;
    margin: 0 !important;
    color: var(--mod-cyan-darker);
    letter-spacing: 1.15px;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    left: -12px;
}

.ping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.ping-container::after {
    display: flex;
    background: #22e2298c;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    content: "";
    z-index: -1;
    position: relative;
    top: 0;
    left: -17px;
    right: 0;
    bottom: 0;
}

.green-flasher {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--mod-cyan-darker);
}

.section-grey {
    border-bottom: 1px solid var(--accents-2);
    background-color: var(--accents-1);
    padding: calc(2*var(--mod-gap-double)) 0;
}

.section-white {
    border-bottom: 1px solid var(--accents-2);
    padding: calc(2*var(--mod-gap-double)) 0;
    background-color: #fff;
}

.section-transparent {
    border-bottom: 1px solid var(--accents-2);
    padding: calc(2*var(--mod-gap-double)) 0;
    background-color: transparent;
}

.section-blue {
    border-bottom: 1px solid var(--accents-2);
    background: var(--accents-1);
    padding: calc(2*var(--mod-gap-double)) 0;
    background-color: var(--mod-success-light);
}

.cta-white-text {
    color: var(--mod-background);
    letter-spacing: -.021em;
    font-weight: 700;
    font-size: 2.5rem;
}

.section-header-text {
    color: inherit;
    text-align: center;
    font-family: var(--font-sans);
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.0222894em;
    font-size: 56px;
    text-transform: none;
    margin: 0px;
}

.section-secondary-text {
    color: #666;
    text-align: center;
    font-family: var(--font-sans);
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    letter-spacing: -0.017em;
    line-height: 31px;
    margin-top: 1rem;
}

.section-content-header-text {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    letter-spacing: -0.021em;
    line-height: 42px;
}

.section-content-text {
    color: var(--accents-6);
    text-align: inherit;
    margin: 0;
    font-family: var(--font-sans);
    text-transform: none;
    letter-spacing: -0.013em;
    line-height: 1.8em;
    font-size: 1.1rem;
}

.section-footer-button ion-icon {
    margin-top: 1px;
}

.section-footer-button {
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-size: 1.425rem;
    border-radius: .3rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow, transform;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: var(--mod-success);
}

.section-footer-button-hero {
    font-size: 1.225rem;
}

.section-footer-button-hero ion-icon {
    margin-top: 2px !important;
}

.pricing-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: var(--mod-marketing-radius);
    box-shadow: var(--shadow-large);
    width: 100%;
    background-color: #fff;
    height: 100%;
}

.free-tier-card-list-root {
    list-style-type: none;
    margin-left: 0.5em;
    padding-left: 0;
}

.free-tier-card-list-root li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 19px;
}

.free-tier-card-list-root ion-icon {
    font-size: 32px;
    margin-right: 10px;
}

.card-contents-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0%;
    border-top-left-radius: var(--mod-marketing-radius);
    border-bottom-left-radius: var(--mod-marketing-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pricing-month-text {
    font-size: 70%;
    font-weight: 400;
    color: var(--accents-5);
    margin-bottom: 0;
    margin-top: 0;
}

.mod-spacer {
    display: block;
    width: 1px;
    height: 1px;
    margin-left: 15.25pt;
    margin-top: 15.25pt;
}

.mod-shadow {
    box-shadow: var(--shadow-small);
    transition: box-shadow .2s ease;
}

.mini-out-card {
    width: 280px;
    height: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    transition: all .2s ease-in-out;
    border-radius: var(--mod-radius);
    background: var(--mod-background);
    display: flex;
    flex-direction: column;
    background: white;
    background: linear-gradient(180deg, rgb(230, 242, 255) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.mini-out-card ion-icon {
    font-size: 40px;
    position: absolute;
    right: -90px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--accents-5);
}

.mini-out-card div p {
    color: white;
    background-color: black;
    padding: 3px 7px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
}

.mini-out-card p {
    margin-top: 5px;
    margin-left: 10px;
    padding: 2px 5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 23px;
}

.mini-out-card img {
    width: 100%;
    object-fit: cover;
}

.content-bullet-list-root {
    display: flex;
    flex-direction: column;
}

.content-bullet-list-root article {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    min-height: 180px;
}

.content-bullet-list-root article ion-icon {
    font-size: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 8px;
}

.content-bullet-list-root article span {
    width: 40px;
    height: 40px;
}

.content-bullet-list-header-text {
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
    letter-spacing: -0.019em;
    z-index: 10;
}

.nav-on-scroll {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .04), 0 6px 12px rgba(0, 0, 0, .02);
    height: var(--header-height-expanded);
    position: fixed !important;
    top: 0 !important;
}

.small-content-text {
    font-size: 17px;
    line-height: 1.85rem;
    color: var(--accents-8);
}

.small-content-header {
    font-weight: 600;
    letter-spacing: -0.021em;
    line-height: 42px;
    padding: 0 15px;
}

.small-arrow-down {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    color: var(--accents-3);
}

.newsletter-input-form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    border-collapse: separate;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #e9edf3;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s;
}

.newsletter-input-form button {
    background: transparent;
    color: #7cabff;
    font-size: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none !important;
}

.newsletter-input-form input {
    border: none;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    color: #24282e;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
    height: 100%;
    outline: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 16px 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 6px 0 0 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 46px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes image-slide {
    100% {
        transform: translateX(0%);
    }
}

@media (min-width: 768px) {
    .wide-container {
        max-width: 900px;
    }
    .hero-video-width {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .wide-container {
        max-width: 1000px;
    }
    .hero-video-width {
        width: 680px;
    }
}

@media (min-width: 1200px) {
    .wide-container {
        max-width: 1250px;
    }
    .hero-video-width {
        width: 740px;
    }
}

@media (min-width: 1400px) {
    .hero-video-width {
        width: 790px;
    }
}

@media (min-width: 1400px) {
    .hero-video-width {
        width: 860px;
    }
}

.wide-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.grow-on-mobile {
    height: 76%;
    margin-bottom: 100px;
}

.secondary-section-hero {
    margin-top: var(--header-height);
}

@media screen and (max-width: 800px) {
    .hero-primary-text {
        font-size: 55px;
        text-align: center;
    }
    .hero-buttons-root {
        justify-content: center;
    }
    .footer-footer {
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .contact-text {
        font-size: 20px !important;
    }
    .footer-button-root {
        justify-content: center;
    }
    .mod-hide-on-mobile {
        display: none !important;
    }
    .mod-show-on-mobile {
        display: flex;
    }
    .pricing-card {
        flex-direction: column;
    }
    .card-contents-root {
        border-top-left-radius: var(--mod-marketing-radius);
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--mod-marketing-radius);
        border-bottom-right-radius: 0;
    }
    .section-header-content-spacer {
        height: 70px;
        width: 100%;
    }
    .section-header-text {
        line-height: 51px;
        font-weight: 600;
        letter-spacing: -0.0222699em;
        font-size: 50px;
        padding: 0 5px;
    }
    .section-secondary-text {
        font-size: 16px;
        letter-spacing: -0.011em;
        line-height: 25px;
        margin-top: 30px;
        padding: 0px 20px;
    }
    .section-content-text {
        font-size: 18px;
        letter-spacing: -0.014em;
        line-height: 28px;
    }
}

@media screen and (min-width: 800px) {
    .header_wrapper:not(.header_not_sticky) {
        background: rgba(255, 255, 255, .9);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }
    .header_wrapper {
        background-color: var(--header-background);
        position: absolute;
        top: var(--banner-height);
    }
    .header_header, .header_nav {
        display: flex;
        flex-direction: row;
    }
    .header_header {
        align-items: center;
    }
    .mobile-menu_indicator {
        display: none;
    }
    .header_nav_lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 10px;
        width: 100%;
        background-color: transparent;
    }
    span.header-tab-root {
        display: block;
        visibility: visible;
    }
    .banner_title {
        font-weight: 600;
    }
    .home_hero {
        height: calc(100vh - var(--banner-height));
    }
    .grow-on-mobile {
        height: initial;
        margin-bottom: 0px;
    }
    .mod-show-on-mobile {
        display: none !important;
    }
    .mod-hide-on-mobile {
        display: flex;
    }
    .section-header-content-spacer {
        height: 100px;
        width: 100%;
    }
}

@media (hover: hover) {
    .header_nav a:hover {
        color: var(--mod-foreground);
    }
    span.header-tab-root:hover, span.is-active.header-tab-root .wrap .link .arrow, span.is-active.header-tab-root {
        color: var(--mod-foreground);
        fill: var(--mod-foreground);
    }
    .button.mod-themed.mod-secondary.custom-button:not(.shadow):hover, .button.mod-themed.mod-secondary.custom-button:not(.shadow):focus, .button.mod-themed.mod-secondary.custom-button:not(.shadow):active {
        --button-fg-hover: var(--mod-foreground);
        --button-bg-hover: var(--mod-background);
        --button-border-hover: var(--mod-foreground);
    }
    .button.sign-up-button-right:hover, .button.sign-up-button-right:focus, .button.sign-up-button-right:active, .button.sign-up-button-right:focus-within {
        color: var(--mod-success);
        background-color: var(--button-bg-hover);
        border-color: var(--mod-success);
    }
    .button.hero-button:hover, .button.hero-button:focus, .button.hero-button:active, .mini-out-card:hover, .video-replay-article-root:hover {
        box-shadow: var(--shadow-medium);
        -webkit-transform: translate3d(0px, -2px, 0px);
        -ms-transform: translate3d(0px, -2px, 0px);
        transform: translate3d(0px, -2px, 0px);
    }
    a:hover {
        text-decoration: none !important;
    }
    .section-footer-button:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 60%, .2);
        border-color: hsla(0, 0%, 60%, .2);
    }
    .mod-shadow:hover {
        box-shadow: var(--shadow-hover);
    }
    .newsletter-input-form:hover {
        border: 1px solid var(--mod-success-dark);
    }
}

:root {
    --mod-foreground: #000;
    --mod-background: #fff;
    --mod-selection: var(--mod-cyan);
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
    --mod-link-color: var(--mod-success);
    --mod-marketing-gray: #fafbfc;
    --mod-code: var(--mod-purple);
    --mod-success-light: #3291ff;
    --mod-success: #0070f3;
    --mod-success-dark: #0366d6;
    --mod-error-light: #ff1a1a;
    --mod-error: #e00;
    --mod-error-dark: #c00;
    --mod-warning-light: #f7b955;
    --mod-warning: #f5a623;
    --mod-warning-dark: #f49b0b;
    --mod-secondary-light: var(--accents-3);
    --mod-secondary: var(--accents-5);
    --mod-secondary-dark: var(--accents-7);
    --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
    --dropdown-triangle-stroke: #fff;
    --scroller-start: #fff;
    --scroller-end: hsla(0, 0%, 100%, 0);
    --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
    --portal-opacity: 0.25;
    --mod-space: 4px;
    --mod-space-2x: 8px;
    --mod-space-4x: 16px;
    --geits-space-8x: 32px;
    --mod-space-16x: 64px;
    --mod-space-32x: 128px;
    --mod-space-small: 32px;
    --mod-space-medium: 40px;
    --mod-space-large: 48px;
    --mod-space-gap: 24px;
    --mod-space-gap-half: 12px;
    --mod-space-gap-quarter: var(--mod-space-2x);
    --mod-gap: var(--mod-space-gap);
    --mod-gap-half: var(--mod-space-gap-half);
    --mod-gap-quarter: var(--mod-space-gap-quarter);
    --mod-gap-double: var(--mod-space-large);
    --mod-space-negative: -4px;
    --mod-space-2x-negative: -8px;
    --mod-space-4x-negative: -16px;
    --geits-space-8x-negative: -32px;
    --mod-space-16x-negative: -64px;
    --mod-space-32x-negative: -128px;
    --mod-space-small-negative: -32px;
    --mod-space-medium-negative: -40px;
    --mod-space-large-negative: -48px;
    --mod-space-gap-negative: -24px;
    --mod-space-gap-half-negative: -12px;
    --mod-space-gap-quarter-negative: var(--mod-space-2x-negative);
    --mod-gap-negative: var(--mod-space-gap-negative);
    --mod-gap-half-negative: var(--mod-space-gap-half-negative);
    --mod-gap-quarter-negative: var(--mod-space-gap-quarter-negative);
    --mod-gap-double-negative: var(--mod-space-large-negative);
    --mod-page-margin: var(--mod-space-gap);
    --mod-page-width: 1000px;
    --mod-page-width-with-margin: 1048px;
    --mod-radius: 5px;
    --mod-marketing-radius: 8px;
    --mod-cyan: #79ffe1;
    --mod-cyan-dark: #50e3c2;
    --mod-cyan-darker: #29bc9b;
    --mod-purple: #f81ce5;
    --mod-violet: #7928ca;
    --mod-alert: #ff0080;
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    --header-height: 56px;
    --header-height-expanded: 66px;
    --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    --header-background: hsla(0, 0%, 100%, 0.8);
    --mod-form-large-font: 1rem;
    --mod-form-large-line-height: 1.5rem;
    --mod-form-large-height: var(--mod-space-large);
    --mod-form-small-font: 0.875rem;
    --mod-form-small-line-height: 0.875rem;
    --mod-form-small-height: var(--mod-space-small);
    --mod-form-font: 0.875rem;
    --mod-form-line-height: 1.25rem;
    --mod-form-height: var(--mod-space-medium);
    --highlight-color: #d1ebff;
    --banner-height: 40px;
}

/* TABS */

header {
    position: relative;
}

.hide {
    display: none;
}

.languages-tabs-card {
    display: block;
    border-radius: var(--mod-marketing-radius);
    box-shadow: var(--shadow-large);
    overflow: hidden;
    background-color: #fff;
    align-items: center;
}

/* Footer ++++++++++++++++++++++++++++ */

.footer-social-fab {
    background-color: #46444e !important;
    color: white !important;
    box-shadow: none !important;
    display: flex !important;
}

.footer-content-section-root {
    display: flex;
    justify-content: center;
}

.footer-content-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-footlink {
    font-size: 14px;
    color: var(--accents-7);
}

.left-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container {
    color: var(--accents-6);
    margin-top: 40px;
}

.footer-content-text {
    margin: 0px;
    letter-spacing: 0.1px;
}

.contact-text {
    color: var(--accents-7);
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Mobile Nav */

.mobile-nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    overflow: touch;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.mobile-nav.visible {
    opacity: 1;
    visibility: visible;
}

.mobile-nav__close {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: .4;
    transition: opacity .3s;
    z-index: 2;
}

.mobile-nav__close ion-icon {
    font-size: 32px;
    color: var(--accents-7);
}

.mobile-nav__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mobile-nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
    list-style-type: none;
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 59px;
    padding-bottom: 160px;
    height: 100%;
}

.mobile-nav__menuitem {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -.02em;
    margin-top: 8px;
}

.mobile-nav__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 90%;
}

.mobile-nav__social a ion-icon {
    font-size: 48px;
    margin-bottom: 25px;
    color: #007bff6b;
}

.video-replay-article-root {
    width: 375px;
    height: 75px;
    background-color: var(--accents-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow-small);
    transition: all .2s ease-in-out;
}

.video-replay-article-root img {
    width: 125px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.video-replay-article-root a {
    color: black;
    font-size: 15px;
    text-decoration: underline !important;
}

#hero-video-raw-replay {
    position: absolute;
    left: 32%;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .1s linear;
}

#hero-video-raw {
    position: relative;
    opacity: 0;
    right: 0%;
    transition: opacity .1s linear;
}

.spin-once {
    animation: spin 0.75s ease-in-out;
}

.no-padding {
    padding: 0 !important;
}

.drawer-img {
    width: 291px;
    height: 875px;
    margin-top: 20px;
    transform: translateX(200%);
}

.drawer-img-slide {
    animation: image-slide 1s forwards;
}

.drawer-img-border {
    background-color: var(--accents-3);
    height: 100%;
    width: 4px;
    border-radius: 2px;
    z-index: 30;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.20);
}

.material-input-filled {
    border: none;
    border-bottom: 0.125rem solid rgba(19, 19, 21, 0.6);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 22px;
    padding-bottom: 18px;
    width: 90px;
    font-size: 20px;
    transition: background-color .03s linear;
    background-color: #f1f3f4;
}

.material-input-filled:hover {
    background: rgba(73, 133, 224, 0.12);
    border-color: #121212;
}

.material-input-filled:focus {
    outline: none;
    border-color: #1e4bd1;
}

#lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    opacity: 0;
    transition: opacity .2s linear;
}

#lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--accents-3);
    border-color: var(--accents-3) transparent var(--accents-3) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.carbon-picture {
    position: relative;
    top: -40px;
    max-width: 100%;
}

#message input[type="text"],
#message input[type="email"],
#message input[type="tel"],
#message input[type="url"],
#message textarea {
    width: 100%;
    border: 1px solid #eee;
    background: #FFF;
    margin: 0 0 6px;
    padding: 8px;
    font-weight: 400;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

#message {
    background: #FBFBFB;
    padding: 13px;
    box-shadow: var(--shadow-small);
    width: 500px;
    max-width: 500px;
    border-radius: 5px;
}

#message textarea {
    height: 75px;
    max-width: 100%;
}


.mini-article-card {
    width: 280px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-align: left;
    transition: all .2s ease-in-out;
    border-radius: var(--mod-radius);
    background: var(--mod-background);
}

.mini-article-card a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.mini-article-card-content-root {
    display: flex;
    flex-direction: column;
}

.mini-article-card-content {
    padding: 10px 20px 15px;
    color: var(--mod-foreground);
}

.mini-article-card-content h3 {
    font-size: 24px;
    letter-spacing: -0.019em;
    line-height: 34px;
    color: inherit;
    font-weight: 500;
    margin-bottom: 2px;
}

.mini-article-card-content small {
    color: inherit;
}

.mini-article-card-footer {
    color: var(--mod-foreground);
    padding: 15px;
    border-top: 1px solid var(--accents-2);
}

.mini-article-card figure {
    margin: 0;
    height: 120px;
    overflow: hidden;
}

.mini-article-card img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.off-screen {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}