@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

body, html {
    font-family: var(--font-sans) !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--mod-foreground);
    margin: 0;
}

iframe {
    border: 0;
}

* {
    box-sizing: inherit;
}

.highlight::before {
    content: '';
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 5px;
    height: 16px;
    z-index: 8;
}

.highlight {
    position: relative;
    background: 0 0;
}

.highlight span {
    z-index: 10;
    position: relative;
}

.highlight-sm::before {
    content: '';
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 2px;
    height: 10px;
    z-index: 8;
}

.highlight-sm {
    position: relative;
    background: 0 0;
}

.highlight-sm span {
    z-index: 10;
    position: relative;
}

.header_wrapper {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--mod-background);
    z-index: 101;
    height: var(--header-height);
    transition: height .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: var(--header-border-bottom);
}

.header_header {
    width: var(--full);
    margin: auto;
    padding-left: var(--mod-page-margin);
    padding-right: var(--mod-page-margin);
}

.header_nav_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_lower {
    width: auto;
    display: none;
    margin-bottom: 30px;
}

.header_visible {
    opacity: 1 !important;
    pointer-events: all !important;
}

.header_left {
    display: flex;
    align-items: center;
    left: 50px;
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
}

.header_nav {
    display: flex;
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}

.header_nav a {
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--accents-5);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.header_logo {
    display: inline-flex;
    position: relative;
}

div.header-contact-us {
    margin-left: 10px;
}

.mobile-menu_indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--mod-radius);
    background: transparent;
    transition: background-color .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.mobile-menu_indicator ion-icon {
    font-size: 21px;
    width: 21px;
    height: 21px;
}

.header_desktop_only {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    visibility: visible;
}

.header_right {
    margin-left: auto;
}

.button.mod-themed.mod-secondary.custom-button {
    --button-fg: var(--accents-5);
    --button-bg: var(--mod-background);
    --button-border: var(--accents-2);
}

.button.medium.custom-button, .button.medium.sign-up-button-right {
    min-width: auto;
    height: 36px;
    line-height: 0;
    font-size: 15px;
    padding: 6px 18px;
}

.button.button-muted {
    --button-fg: #fff;
    --button-bg: #666;
    --button-border: #666;
}

.button.custom-button, .button.sign-up-button-right {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    padding: 0 25px;
    border-radius: var(--mod-radius);
    font-size: 0.875rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    color: var(--button-fg);
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.mod-themed.mod-secondary-fill {
    --themed-fg: #fff;
    --themed-bg: var(--mod-secondary);
    --themed-border: var(--mod-secondary);
}

.mod-themed.mod-secondary {
    --themed-fg: var(--mod-secondary);
    --themed-bg: var(--mod-background);
    --themed-border: var(--themed-fg);
}

.logged-out-profile_wrapper {
    display: flex;
    align-items: center;
}

.logged-out-profile_wrapper a {
    text-decoration: none;
    transition: color .2s ease-in-out;
    color: var(--accents-5);
    border: 0;
    font-size: 15px;
    padding: 10px;
}

.logged-out-profile_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.logged-out-profile_wrapper ul li {
    display: inline-block;
}

.logged-out-profile_sign_up {
    margin-left: 10px;
    margin-right: 15px;
}

.button.sign-up-button-right {
    font-weight: 700;
    color: var(--button-bg);
    background-color: var(--mod-success);
    --button-fg: var(--themed-fg);
    --button-bg: var(--themed-bg);
    --button-border: var(--themed-border);
}

.button.expert-button-right {
    font-weight: 500;
    color: var(--mod-success);
    background-color: var(--themed-fg);
    --button-border: var(--mod-success);
}

.mod-themed.mod-success-fill {
    --themed-fg: #fff;
    --themed-bg: var(--mod-success);
    --themed-border: var(--mod-success);
}

.mod-themed.mod-success {
    --themed-fg: var(--mod-success);
    --themed-bg: var(--mod-background);
    --themed-border: var(--themed-fg);
}

.banner_banner {
    width: 100%;
    height: var(--banner-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accents-8);
    transform-origin: top center;
    border-bottom: 1px solid var(--accents-2);
    transition: transform .2s ease, height .3s ease;
    z-index: 102;
    font-size: 14px;
    text-align: center;
    color: var(--mod-background);
}

.banner_banner.banner_hidden {
    height: 0;
    transform: scaleY(0);
}

.banner_text_link {
    color: inherit !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.banner_title {
    font-size: 14px;
}

.banner_title ion-icon {
    font-size: 14px;
    height: 14px;
    width: 14px;
}

.banner_close {
    display: inline-flex;
    color: var(--accents-5);
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.home_hero {
    background-image: linear-gradient(#fbfbfb 92%, #ececec 100%);
    height: calc(100vh - var(--banner-height) - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--header-border-bottom);
    overflow: hidden;
}

.hero-left-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.hero-checks {
    display: flex;
}

.hero-video-root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-row-root {
    height: 100%;
    align-items: center;
    flex-wrap: nowrap !important;
}

.hero-primary-text {
    color: inherit;
    margin: 0;
    font-family: var(--font-sans);
    line-height: 1.11em;
    font-weight: 800;
    letter-spacing: -0.0222974;
    font-size: 64px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 3rem;
}

.hero-secondary-text {
    font-size: 18px !important;
    letter-spacing: -0.014em;
    line-height: 28px;
    font-family: var(--font-sans);
    color: var(--accents-7);
    text-align: inherit;
    font-weight: 400;
    text-transform: none;
    margin: 0;
}

.hero-buttons-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 72px;
    margin-top: 2rem;
    margin-bottom: 10px;
    min-width: 458px;
}

.hero-buttons-root::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.01);
    left: -5px;
    height: 82px;
    right: 48px;
    overflow: visible;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
    /* background-clip: content-box; */
    border: 1px solid #eaeaea;
    min-width: 416px;
}

.mod-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
    flex: var(--flex);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

.button.shadow.hero-button {
    box-shadow: var(--shadow-smallest);
}

.button.hero-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 700;
    font-family: var(--font-sans);
    min-width: 170px;
    height: 50px;
    padding: 0 25px;
    border-radius: var(--mod-radius);
    font-size: 1rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    text-transform: uppercase;
    z-index: 2;
}

.hero-button-primary {
    background-color: var(--mod-success);
    border: 1px solid var(--mod-success);
    color: var(--mod-background);
}

.hero-button-primary-white {
    background-color: var(--mod-background);
    border: 1px solid var(--mod-background);
    color: var(--mod-success);
    width: 100px;
    padding-left: 10px;
}

.hero-button-primary-white ion-icon {
    font-size: 20px;
    padding-left: 4px;
}

.sys-status-root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--mod-radius);
    border: 1px solid var(--button-border);
    width: 138px;
    height: 32px !important;
}

.sys-status-root:hover {
    border-color: var(--flash-container-bg) !important;
}

.sys-status-root p {
    margin: 0 !important;
    color: var(--flasher-bg);
    font-weight: 400;
    border: 0;
    font-size: 15px;
    position: relative;
    left: -4px;
}

.flash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 19px;
    width: 20px;
    height: 20px;
    position: relative;
}

.flasher::after {
    display: flex;
    background-color: var(--flash-container-bg);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: -5px;
}

.flasher {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--flasher-bg);
}

.section-grey {
    border-bottom: 1px solid var(--accents-2);
    background-color: var(--accents-1);
    padding: calc(2*var(--mod-gap-double)) 0;
}

.section-white {
    border-bottom: 1px solid var(--accents-2);
    padding: calc(2*var(--mod-gap-double)) 0;
    background-color: #fff;
}

.section-blue {
    border-bottom: 1px solid var(--accents-2);
    background: var(--accents-1);
    padding: calc(2*var(--mod-gap-double)) 0;
    background-color: var(--mod-success-light);
}

.cta-white-text {
    color: var(--mod-background);
    letter-spacing: -.01em;
    font-weight: 700;
    font-size: 2.5rem;
}

.section-header-text {
    color: inherit;
    text-align: center;
    font-family: var(--font-sans);
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.0222894em;
    font-size: 56px;
    text-transform: none;
    margin: 0px;
}

.section-secondary-text {
    color: #666;
    text-align: center;
    font-family: var(--font-sans);
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    letter-spacing: -0.017em;
    line-height: 31px;
    margin-top: 1rem;
}

.section-content-header-text {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    letter-spacing: -0.021em;
    line-height: 42px;
}

.section-content-text {
    color: var(--accents-6);
    text-align: inherit;
    margin: 0;
    font-family: var(--font-sans);
    text-transform: none;
    letter-spacing: -0.013em;
    line-height: 1.8em;
    font-size: 1.1rem;
}

.section-footer-button ion-icon {
    font-size: 22px;
    height: 22px;
    width: 22px;
}

.section-footer-button {
    padding: .5rem 1rem;
    font-size: 1.425rem;
    border-radius: .3rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow, transform;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: var(--mod-success);
    z-index: 2;
}

.section-footer-button-hero {
    font-size: 19px;
}

.section-footer-button-hero ion-icon {
    font-size: 19px;
    height: 19px;
    width: 19px;
}

.step-card {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    user-select: none;
    transition: all .2s ease-in-out;
    filter: drop-shadow(0px 0px 1px rgba(60, 66, 87, 0.22));
    padding: 25px !important;
}

.step-card-content {
    z-index: 2;
    position: relative;
    text-align: left;
    border-radius: var(--mod-radius);
    width: 250px;
    height: 230px;
    background: white;
    /* background: linear-gradient(197deg, rgb(230, 242, 255) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%); */
    clip-path: polygon(0% 0%, calc(100% - 39px) -1px, 100% 39px, 100% 44px, calc(100% + 6px) 49px, calc(100% + 6px) calc(100% + 6px), 0% calc(100% + 6px));
    overflow: hidden;
    padding: 18px;
}

.step-card-content:before {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #FFF;
    border-width: 19px;
    border-radius: 0 0 0 6px;
    box-shadow: -1px 3px 5px rgb(0, 0, 0, 0.1);
}

.step-card ion-icon {
    font-size: 32px;
    position: absolute;
    right: -59px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--accents-5);
    display: none;
}

.step-card-number {
    color: white;
    background-color: black;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.step-card-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 23px;
    color: var(--accents-7);
}

.step-card img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.main-section-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: var(--shadow-small);
    flex-wrap: wrap;
    padding: 16px;
    margin-top: calc(-20vh - 15px);
}

.content-article {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 13px;
    margin-left: 13px;
    padding: 26px;
    border-radius: 15px;
    flex: 1 1 260px;
}

.content-article.ca1 {
    background-color: rgba(227, 211, 240, 0.4);
}

.content-article.ca2 {
    background-color: rgba(215, 231, 230, 0.4);
}

.content-article.ca3 {
    background-color: rgba(246, 225, 207, 0.4);
}

.content-article ion-icon {
    font-size: 21px;
    padding: 4px;
    color: #000;
}

.content-article h4 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
    letter-spacing: -0.019em;
    z-index: 10;
}

.content-article p {
    color: var(--accents-6);
    text-align: inherit;
    margin: 0;
    font-family: var(--font-sans);
    text-transform: none;
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 25px;
}

.small-content-header {
    font-weight: 600;
    letter-spacing: -0.021em;
    line-height: 42px;
    padding: 0 15px;
}

.small-arrow-down {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    color: var(--accents-3);
}

.newsletter-input-form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    border-collapse: separate;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #e9edf3;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s;
}

.newsletter-input-form button {
    background: transparent;
    color: #7cabff;
    font-size: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none !important;
}

.newsletter-input-form input {
    border: none;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    color: #24282e;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
    height: 100%;
    outline: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 16px 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 6px 0 0 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 46px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (min-width: 768px) {
    .wide-container {
        max-width: 900px;
    }
    .hero-video-root {
        width: 480px;
        margin-left: 40px;
    }
}

@media (min-width: 992px) {
    .wide-container {
        max-width: 1000px;
    }
    .hero-video-root {
        width: 580px;
    }
}

@media (min-width: 1050px) {
    .steps-container {
        flex-direction: row !important;
    }
    .steps-container span {
        justify-content: space-around !important;
    }
    .step-card {
        padding: 0px !important;
    }
}

@media (min-width: 1200px) {
    .wide-container {
        max-width: 1250px;
    }
    .steps-container {
        max-width: 1350px !important;
    }
    .hero-video-root {
        width: 685px;
    }
}

@media (min-width: 1300px) {
    .step-card ion-icon {
        display: block;
    }
}


@media (min-width: 1400px) {
    .hero-video-root {
        width: 750px;
        margin-left: 10px;
    }
}

@media (min-width: 1500px) {
    .hero-video-root {
        width: 760px;
        margin-left: 25px;
    }
}

.wide-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.steps-container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps-container span {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}

.grow-on-mobile {
    height: 76%;
    margin-bottom: 100px;
}

.packages-for-mobile {
    position: absolute;
    bottom: 80px;
}

@media screen and (max-width: 800px) {
    .steps-container {
        flex-direction: column !important;
    }
    .steps-container span {
        flex-direction: column !important;
        align-items: center !important;
    }
    .hero-primary-text {
        font-size: 55px;
        text-align: center;
        margin-bottom: 0px;
    }
    .hero-buttons-root {
        flex-direction: column;
        height: 124px;
        padding-right: 0px;
        margin-top: 0px;
        margin-bottom: 18%;
        min-width: initial;
    }
    .hero-buttons-root::after {
        left: 60px;
        height: 187px;
        right: 60px;
        margin-top: -31px;
        min-width: initial;
    }
    .footer-footer {
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .contact-text {
        font-size: 20px !important;
    }
    .footer-button-root {
        justify-content: center;
    }
    .mod-hide-on-mobile {
        display: none !important;
    }
    .mod-show-on-mobile {
        display: flex;
    }
    .block-hide-on-mobile {
        display: none !important;
    }
    .block-show-on-mobile {
        display: block;
    }
    .section-header-content-spacer {
        height: 70px;
        width: 100%;
    }
    .section-header-text {
        line-height: 51px;
        font-weight: 600;
        letter-spacing: -0.0222699em;
        font-size: 50px;
        padding: 0 5px;
    }
    .section-secondary-text {
        font-size: 16px;
        letter-spacing: -0.011em;
        line-height: 25px;
        margin-top: 30px;
        padding: 0px 20px;
    }
    .section-content-text {
        font-size: 18px;
        letter-spacing: -0.014em;
        line-height: 28px;
    }
    .center-text-sm {
        text-align: center;
    }
    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
        .hero-buttons-root {
            margin-bottom: 22% !important;
        }
        .packages-for-mobile {
            bottom: 10px !important;
        }
    }
    .pricing-palden .pricing-item {
        margin: 2em 1em !important;
    }
    .main-section-card {
        margin-top: -150px;
    }
}

@media screen and (min-width: 800px) {
    .header_wrapper:not(.header_not_sticky) {
        background: rgba(255, 255, 255, .9);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }
    .header_wrapper {
        background-color: var(--header-background);
        position: absolute;
        top: var(--banner-height);
    }
    .header_header, .header_nav {
        display: flex;
        flex-direction: row;
    }
    .header_header {
        align-items: center;
    }
    .mobile-menu_indicator {
        display: none;
    }
    .header_nav_lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 10px;
        width: 100%;
        background-color: transparent;
    }
    .banner_title {
        font-weight: 600;
    }
    .home_hero {
        height: calc(100vh - var(--banner-height));
    }
    .grow-on-mobile {
        height: initial;
        margin-bottom: 0px;
    }
    .mod-show-on-mobile {
        display: none !important;
    }
    .mod-hide-on-mobile {
        display: flex;
    }
    .block-hide-on-mobile {
        display: block;
    }
    .block-show-on-mobile {
        display: none !important;
    }
    .section-header-content-spacer {
        height: 100px;
        width: 100%;
    }
}

@media (hover: hover) {
    .header_nav a:hover {
        color: var(--mod-foreground);
    }
    .button.mod-themed.mod-secondary.custom-button:not(.shadow):hover, .button.mod-themed.mod-secondary.custom-button:not(.shadow):focus, .button.mod-themed.mod-secondary.custom-button:not(.shadow):active {
        --button-fg-hover: var(--mod-foreground);
        --button-bg-hover: var(--mod-background);
        --button-border-hover: var(--mod-foreground);
    }
    .button.sign-up-button-right:hover, .button.sign-up-button-right:focus, .button.sign-up-button-right:active, .button.sign-up-button-right:focus-within {
        color: var(--mod-success);
        background-color: var(--button-bg-hover);
        border-color: var(--mod-success);
    }
    .button.expert-button-right:hover, .button.expert-button-right:focus, .button.expert-button-right:active, .button.expert-button-right:focus-within {
        color: var(--mod-success);
        background-color: var(--highlight-color);
        border-color: var(--mod-success);
    }
    .button.hero-button:hover, .button.hero-button:focus, .button.hero-button:active, .video-replay-article-root:hover, .mini-article-card:hover {
        box-shadow: var(--shadow-medium);
        -webkit-transform: translate3d(0px, -2px, 0px);
        -ms-transform: translate3d(0px, -2px, 0px);
        transform: translate3d(0px, -2px, 0px);
    }
    .step-card:hover, .hero-for-buttons a:hover {
        filter: drop-shadow(var(--shadow-medium));
        -webkit-transform: translate3d(0px, -2px, 0px);
        -ms-transform: translate3d(0px, -2px, 0px);
        transform: translate3d(0px, -2px, 0px);
    }
    a:hover {
        text-decoration: none !important;
    }
    .section-footer-button:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 60%, .2);
        border-color: hsla(0, 0%, 60%, .2);
    }
    .newsletter-input-form:hover {
        border: 1px solid var(--mod-success-dark);
    }
}

:root {
    --mod-foreground: #000;
    --mod-background: #fff;
    --mod-selection: var(--mod-cyan);
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
    --mod-link-color: var(--mod-success);
    --mod-marketing-gray: #fafbfc;
    --mod-code: var(--mod-purple);
    --mod-success-light: #3291ff;
    --mod-success: #0070f3;
    --mod-success-dark: #0366d6;
    --mod-error-light: #ff1a1a;
    --mod-error: #e00;
    --mod-error-dark: #c00;
    --mod-warning-light: #f7b955;
    --mod-warning: #f5a623;
    --mod-warning-dark: #f49b0b;
    --mod-secondary-light: var(--accents-3);
    --mod-secondary: var(--accents-5);
    --mod-secondary-dark: var(--accents-7);
    --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
    --dropdown-triangle-stroke: #fff;
    --scroller-start: #fff;
    --scroller-end: hsla(0, 0%, 100%, 0);
    --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
    --portal-opacity: 0.25;
    --mod-space: 4px;
    --mod-space-2x: 8px;
    --mod-space-4x: 16px;
    --geits-space-8x: 32px;
    --mod-space-16x: 64px;
    --mod-space-32x: 128px;
    --mod-space-small: 32px;
    --mod-space-medium: 40px;
    --mod-space-large: 48px;
    --mod-space-gap: 24px;
    --mod-space-gap-half: 12px;
    --mod-space-gap-quarter: var(--mod-space-2x);
    --mod-gap: var(--mod-space-gap);
    --mod-gap-half: var(--mod-space-gap-half);
    --mod-gap-quarter: var(--mod-space-gap-quarter);
    --mod-gap-double: var(--mod-space-large);
    --mod-space-negative: -4px;
    --mod-space-2x-negative: -8px;
    --mod-space-4x-negative: -16px;
    --geits-space-8x-negative: -32px;
    --mod-space-16x-negative: -64px;
    --mod-space-32x-negative: -128px;
    --mod-space-small-negative: -32px;
    --mod-space-medium-negative: -40px;
    --mod-space-large-negative: -48px;
    --mod-space-gap-negative: -24px;
    --mod-space-gap-half-negative: -12px;
    --mod-space-gap-quarter-negative: var(--mod-space-2x-negative);
    --mod-gap-negative: var(--mod-space-gap-negative);
    --mod-gap-half-negative: var(--mod-space-gap-half-negative);
    --mod-gap-quarter-negative: var(--mod-space-gap-quarter-negative);
    --mod-gap-double-negative: var(--mod-space-large-negative);
    --mod-page-margin: var(--mod-space-gap);
    --mod-page-width: 1000px;
    --mod-page-width-with-margin: 1048px;
    --mod-radius: 5px;
    --mod-marketing-radius: 8px;
    --mod-cyan: #79ffe1;
    --mod-cyan-dark: #50e3c2;
    --mod-cyan-darker: #29bc9b;
    --mod-purple: #f81ce5;
    --mod-violet: #7928ca;
    --mod-alert: #ff0080;
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    --header-height: 56px;
    --header-height-expanded: 66px;
    --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    --header-background: hsla(0, 0%, 100%, 0.8);
    --mod-form-large-font: 1rem;
    --mod-form-large-line-height: 1.5rem;
    --mod-form-large-height: var(--mod-space-large);
    --mod-form-small-font: 0.875rem;
    --mod-form-small-line-height: 0.875rem;
    --mod-form-small-height: var(--mod-space-small);
    --mod-form-font: 0.875rem;
    --mod-form-line-height: 1.25rem;
    --mod-form-height: var(--mod-space-medium);
    --highlight-color: #d1ebff;
    --banner-height: 40px;
    --flash-container-bg: #22e2298c;
    --flasher-bg: var(--mod-cyan-darker);
    --for-button-height: 120px;
}

/* TABS */

header {
    position: relative;
}

.hide {
    display: none;
}

.languages-tabs-card {
    display: block;
    border-radius: var(--mod-marketing-radius);
    box-shadow: var(--shadow-large);
    overflow: hidden;
    background-color: #fff;
    align-items: center;
}

.languages-tabs-card iframe {
    border-radius: var(--mod-marketing-radius);
}

.react-demo-root {
    position: absolute;
    left: 0;
    right: 0;
    height: 800px;
}

.react-demo-root div {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer ++++++++++++++++++++++++++++ */

.footer-social-fab {
    background-color: #46444e !important;
    color: white !important;
    box-shadow: none !important;
    display: flex !important;
}

.footer-content-section-root {
    display: flex;
    justify-content: center;
}

.footer-content-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-footlink {
    font-size: 14px;
    color: var(--accents-7);
}

.left-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container {
    color: var(--accents-6);
    margin-top: 40px;
}

.footer-content-text {
    margin: 0px;
    letter-spacing: 0.1px;
}

.contact-text {
    color: var(--accents-7);
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Mobile Nav */

.mobile-nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    overflow: touch;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.mobile-nav.visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.mobile-nav__close {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: .4;
    transition: opacity .3s;
    z-index: 2;
}

.mobile-nav__close ion-icon {
    font-size: 32px;
    color: var(--accents-7);
}

.mobile-nav__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.mobile-nav__menu {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
    list-style-type: none;
    height: 100%;
}

.mobile-nav__menuitem {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -.02em;
    margin-top: 8px;
}

.mobile-nav__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-nav__social a ion-icon {
    font-size: 48px;
    margin-bottom: 25px;
    color: #007bff6b;
}

.video-replay-article-root {
    width: 375px;
    height: 75px;
    background-color: var(--accents-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow-small);
    transition: all .2s ease-in-out;
}

.video-replay-article-root img {
    width: 125px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.video-replay-article-root a {
    color: black;
    font-size: 15px;
    text-decoration: underline !important;
}

#hero-video-raw-replay {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .1s linear;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 100px;
}

#hero-video-raw {
    position: relative;
    opacity: 0;
    right: 0;
    left: 0;
    transition: opacity .1s linear;
    width: 100%;
}

.spin-once {
    animation: spin 0.75s ease-in-out;
}


/* Used in /pricing/: */
/* .material-input-filled {
    border: none;
    border-bottom: 0.125rem solid rgba(19, 19, 21, 0.6);
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 22px;
    padding-bottom: 18px;
    width: 90px;
    font-size: 17px;
    transition: background-color .03s linear;
    background-color: #f1f3f4;
}

.material-input-filled:hover {
    background: rgba(73, 133, 224, 0.12);
    border-color: #121212;
}

.material-input-filled:focus {
    outline: none;
    border-color: #1e4bd1;
} */

#lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    opacity: 0;
    transition: opacity .2s linear;
}

#lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--accents-3);
    border-color: var(--accents-3) transparent var(--accents-3) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.carbon-picture {
    position: relative;
    top: -40px;
    max-width: 100%;
}

#message input[type="text"], #message input[type="email"], #message input[type="tel"], #message input[type="url"], #message textarea {
    width: 100%;
    border: 1px solid #eee;
    background: #FFF;
    margin: 0 0 6px;
    padding: 8px;
    font-weight: 400;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

#message {
    background: #FBFBFB;
    padding: 13px;
    box-shadow: var(--shadow-small);
    width: 500px;
    max-width: 500px;
    border-radius: 5px;
}

#message textarea {
    height: 75px;
    max-width: 100%;
}

.mini-article-card {
    width: 280px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-align: left;
    transition: all .2s ease-in-out;
    border-radius: var(--mod-radius);
    background: var(--mod-background);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--shadow-small);
}

.mini-article-card a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.mini-article-card-content-root {
    display: flex;
    flex-direction: column;
}

.mini-article-card-content {
    padding: 10px 20px 15px;
    color: var(--mod-foreground);
}

.mini-article-card-content h3 {
    font-size: 21px;
    letter-spacing: -0.019em;
    line-height: 34px;
    color: inherit;
    font-weight: 600;
    margin-bottom: 2px;
}

.mini-article-card-content small {
    color: inherit;
}

.mini-article-card-footer {
    color: var(--mod-foreground);
    padding: 15px;
    border-top: 1px solid var(--accents-2);
}

.mini-article-card figure {
    margin: 0;
    height: 120px;
    overflow: hidden;
}

.mini-article-card img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.off-screen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ion-icon[size="large"] {
    width: 32px !important;
    height: 32px !important;
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden !important;
}

.nav-on-scroll {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .04), 0 6px 12px rgba(0, 0, 0, .02);
    height: var(--header-height-expanded);
    position: fixed !important;
    top: 0 !important;
}

/** PRICING STUFF */

.pricing-month-text {
    font-size: 70%;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.pricing-header-text {
    color: inherit;
    text-align: center;
    line-height: 85px;
    font-weight: 700;
    letter-spacing: -0.0222894em;
    text-transform: none;
    margin: 0px;
    font-size: 43px;
}

.pricing-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 0 1 330px;
    min-height: 500px;
}

.pricing-palden .pricing-item {
    cursor: default;
    background: #fff;
    box-shadow: var(--shadow-small);
    border-radius: 20px 20px 10px 10px;
    margin: 2em 0;
}

.pricing-palden .pricing-deco {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(190deg, #2386f7, #79c5f8);
    padding: 2.5em 0 0;
    position: relative;
    color: white;
    height: 345px;
    overflow: hidden;
}

.pricing-palden .pricing-deco-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
}

.pricing-palden .deco-layer {
    transition: transform 0.70s ease-out;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
    transform: translate3d(20px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
    transform: translate3d(-20px, 0, 0);
}

.pricing-palden .icon {
    font-size: 2.5em;
}

.pricing-palden .pricing-currency {
    font-size: 0.15em;
    vertical-align: top;
}

.pricing-palden .pricing__sentence {
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em;
}

.pricing-palden .pricing-item--featured .pricing-deco {
    padding: 5em 0 8.885em 0;
}

.pricing-month-text {
    font-size: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 3px;
}

.free-tier-card-list-root {
    list-style-type: none;
    margin-top: -33px;
    z-index: 100;
    padding-left: calc(30% - 55px);
}

.free-tier-card-list-root li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: -.014em;
}

.free-tier-card-list-root li.support{
    color: var(--accents-6);
}

.free-tier-card-list-root li.unsupport{
    color: var(--accents-3);
}

.free-tier-card-list-root li ion-icon{
    font-size: 20px;
    margin-right: 20px;
    color: inherit;
    width: 20px;
}

/** End pricing */

.undraggable {
    user-select: none;
    pointer-events: none;
}

.small-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 280px;
    min-width: 220px;
}

.small-point h6 {
    padding: 0;
    margin: 0;
    color: var(--accents-7);
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.small-point p {
    color: var(--accents-5);
    font-size: 1rem;
    line-height: 1.5rem;
}

.small-point > ion-icon {
    font-size: 24px;
    color: var(--mod-success);
    background-color: var(--highlight-color);
    border-radius: 50%;
    padding: 8px;
}

.small-point > a > ion-icon {
    font-size: 14px;
    margin-bottom: -2px;
    margin-left: 3px;
}


.flex-wrap {
    flex-wrap: wrap !important;
}