/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* primary: {
    main: '#556cd6',
    light: '#8b9aff',
    dark: '#0c42a4'
},
secondary: {
    main: '#ff9e22',
    light: '#ffcf57',
    dark: '#c66f00'
}, */

/* 
Shadow 1dp
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

Shadow 2dp
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);

Shadow 3dp
box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);

Shadow 4dp
box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);

Shadow 6dp
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

Shadow 8dp
box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

Shadow 9dp
box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);

Shadow 12dp
box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

Shadow 16dp
box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);

Shadow 24dp
box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
*/

body {
    position: relative;
    z-index: -400;
    background-color: white !important;
}

/* .bg-blue { position: relative; overflow: hidden; }

.bg-blue::before {
    background-color: #556cd6;
    background-image: url("https://www.transparenttextures.com/patterns/pinstripe-dark.png");
    
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    content: "";
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transform: skewY(-14deg) scaleY(5.5);
    transform: skewY(-14deg) scaleY(6.75);
    width: 100%;
    z-index: 10;
} */

.brush-stroke {
    position: absolute;
    right: 23%;
    top: 615px;
    width: 230px;
    z-index: -1;
    transform: rotate(170deg);
}

.bg-blue {
    overflow-x: scroll;
}

.bg-blue-rect-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 94vh;
    width: 58vw;
    background: linear-gradient(90deg, rgba(66,93,214,1) 0%, rgba(85,108,214,1) 100%);

    z-index: 2;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 15px 0px 0px #8b9aff;
            box-shadow: 0px 15px 0px 0px #8b9aff;
}

.bg-blue-circle{
    position: absolute;
    top: -94vh;
    left: calc(58vw - 55vw);
    height: 188vh;
    width: 110vw;
    background-color: #556cd6;



    border-radius: 50%;
    z-index: 1;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 15px 0px 0px #8b9aff;
            box-shadow: 0px 15px 0px 0px #8b9aff;
}


.full-screen-bg-blue-connection{
    height: 100vh;
}

.footer-bg-blue {
    overflow: hidden;
    height: 300px;
}

.footer-bg-blue-rect-1{
    position: absolute;
    top: 0;
    right: 0;
    height: 40vh;
    width: 58vw;
    /* background-color: #556cd6; */
    background: linear-gradient(90deg, rgba(85,108,214,1) 0%, rgba(66,93,214,1) 100%);



    z-index: -2;
    overflow-x: hidden;
        -webkit-box-shadow: 0px -15px 0px 0px #8b9aff;
            box-shadow: 0px -15px 0px 0px #8b9aff;
}

.footer-bg-blue-circle{
    position: absolute;
    top: -0;
    right: calc(58vw - 55vw);
    height: 188vh;
    width: 110vw;
    background-color: #556cd6;

    border-radius: 50%;
    z-index: -3;
    overflow-x: hidden;
        -webkit-box-shadow: 0px -15px 0px 0px #8b9aff;
            box-shadow: 0px -15px 0px 0px #8b9aff;
}


.full-screen-bg-blue-connection{
    height: 100vh;
}


.section-overflow {
    max-width: 100%;
    overflow: hidden;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    font-weight: 500;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    z-index: 1;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


.navigation {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100px;
    -webkit-transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0.0, 0.2, 1), height 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1000;
}


.nav-scrolled {
    background-color: #262626;
    height: 70px;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.splash-root {
    width: 85vw;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 100;
}

.splash-text-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.splash-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.splash-gif {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.splash-button-try {
    padding: 0 40px !important; 
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20); 
            box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    margin-right: 30px;
}

.splash-primary-text {
    font-weight: 600;
    font-size: 3.4em;
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-family: 'Roboto Slab', serif;
    color: #fafafa;
    padding-top: 50px;
}

.splash-secondary-text {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    font-family: 'Roboto Slab', serif;
    color: #fafafa;

}

.confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -7;
    background-color: white;
}

.footer-cta-socials-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-cta-root{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 57%;
        flex-basis: 57%;
}

.footer-socials-root{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-elevation {
    -webkit-box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
            box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);

}

.section-about { 
    margin-top: 100px;
    position: relative; 
    overflow: hidden;
    background-color: white;
}

.section-price { 
    margin-top: 100px;
    position: relative; 
    overflow: hidden;
    background-color: white;
}

.section-secure { 
    margin-top: 100px;
    position: relative; 
    overflow: hidden;
    background-color: white;
}

.section-header {
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    letter-spacing: 0.4px;
    margin-bottom: 55px;
}

.section-subheader {
    font-weight: 700;
    font-size: 37px;
    letter-spacing: 0.65px;
    margin-bottom: 40px;

}

.section-text-content {
    font-size: 18px;
}


.footer-content-container {
    padding-top: 50px;
    color: #eee;
}


/* Mobile */

@media only screen and (max-width: 800px) {
    .bg-blue-rect-1{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #556cd6;
        z-index: 3;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 8px 0px 0px #8b9aff;
                box-shadow: 0px 8px 0px 0px #8b9aff;
    }


    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 30px 0 15px;

    }
    nav ul {
        display: none;

    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;

    }
    .nav-container {
        display: block;
    }
    .brand {
        top: 50%;
        -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
                transform: translateY(50%);
        position: relative;
        padding: 0px 20px;
    }
    .nav-list {
        background-color: #262626;
    }

    .navigation {
        position: fixed;
    }

    .splash-primary-text {
        padding-top: 0;
    }

    .brush-stroke {
        display: none;
    }

}


/* Regular */

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
    .nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        height: 100%;
    }
}

.unselectable-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.product-screen-img {
    box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
    /* width: 250px; /* width of container */
}

.product-view-root {
    padding: 30px;
}