<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Nunito+Sans:300,400,500,600">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="/assets/css/blog_styles.css" rel="stylesheet" />
</head>

<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="/" title="EaseBase">logo</a>
                <!-- <img src="/assets/images/logo1_blue_orange_transparent.png" style="width: 200px;" alt="easybase logo" /> -->
            </div>
            <nav style="display: flex; flex-grow: 1; justify-content: center;">
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a class="nav-regular-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/about">About Us</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="nav-regular-link" href="/blog">Blog</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-raised btn-success nav-login-button">Login</button>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <section class="main-content">
        <div class="wide-container">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="inline-breadcrumb-root" aria-label="breadcrumb">
                        <ol class="breadcrumb inline-breadcrumb">
                            {% for tag in page.tags %}
                            <li class="breadcrumb-item"><a href="/{{ tag }}/">{{ tag }}</a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                    <h1 class="post-title">{{ page.title }}</h1>


                    {% if page.title_image %}
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="title-image" src={{ page.title_image }} />
                            </div>
                        </div>
                    {% endif %}
                    <div class="content-text">
                        {{ content }}
                    </div>
                    <hr />
                    {% if page.title != 404 %}
                    <div class="socials-content-footer">
                        <h3 style="font-weight: 600;">Share</h3>
                        <div class="socials-content-footer-buttons">
                            <a class="a-button" href="http://twitter.com/share/?url=https://easybase.io{{ page.url }}&text={{ page.title | url_encode  }}&via=easybase_io" target="_blank">
                                <button class="btn btn-raised btn-success" style="background-color: #29c5f6;">
                                    <ion-icon name="logo-twitter" size="large" style="color:white; vertical-align: middle;"></ion-icon>
                                </button>
                            </a>
                            <a class="a-button" href="https://www.facebook.com/sharer/sharer.php?u=https://easybase.io{{ page.url }}{{ page.title | url_encode }}" target="_blank">
                                <button class="btn btn-raised btn-success" style="background-color: #6788ce;">
                                    <ion-icon name="logo-facebook" size="large" style="color:white; vertical-align: middle;"></ion-icon>
                                </button>
                            </a>
                            <a class="a-button" href="https://www.linkedin.com/shareArticle?mini=true&url=https://easybase.io{{ page.url }}&title={{ page.title | url_encode }}&summary={{ page.excerpt | url_encode }}&source=EasyBase.io" target="_blank">
                                <button class="btn btn-raised btn-success" style="background-color: #3a9bdc;">
                                    <ion-icon name="logo-linkedin" size="large" style="color:white; vertical-align: middle;"></ion-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="sidebar-cards-root">
                        <div class="about-easybase-card-root">
                            <h2 class="about-easybase-card-title">How <span class="blog-highlight">EasyBase</span> Helps</h2>
                            <p class="about-easybase-card-content">EasyBase is a powerful, no-code database with a self-building API
                            and visual query builder</p>
                            <div class="about-easybase-checks">
                                <span>
                                    <ion-icon name="checkmark" style="color: #4caf50; font-size: 20px;"></ion-icon>
                                    <p>99% Uptime*</p>
                                </span>
                                <span>
                                    <ion-icon name="checkmark" style="color: #4caf50; font-size: 20px;"></ion-icon>
                                    <p>First $50 Free</p>
                                </span>
                                <span>
                                    <ion-icon name="checkmark" style="color: #4caf50; font-size: 20px;"></ion-icon>
                                    <p>Instant Setup</p>
                                </span>
                            </div>
                            <div class="splash-buttons">
                                <a class="a-button" href="">
                                    <button type="button" class="btn btn-raised btn-success splash-button-try">Try Free</button>
                                </a>
                                <a class="a-button" href="/">
                                    <button type="button" class="btn btn-outline-secondary">Learn More</button>
                                </a>
                            </div>
                        </div>
                        {% if page.title != 404 and page.title != "Blog" %}
                            <div class="author-card-root d-none d-lg-block">
                                <div class="author-root">
                                    <img class="author-image" src={{ page.author_image }} />
                                </div>
                                <h4 class="author-name">Written By <a href="/blog">{{ page.author_name }}</a></h4>
                                <p class="author-description">{{page.author_description}}</p>
                            </div>
                        {% endif %}
                        <div class="sticky-sidebar">
                            <h4 class="sticky-card-title pt-4 px-3">You can <span class="blog-highlight">empower</span> your <b>app or website</b></h4>
                            <div class="video-root">
                                <iframe width="340" height="205" src="{{ page.sidebar_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="splash-buttons mb-4">
                                <a class="a-button" href="">
                                    <button type="button" class="btn btn-raised btn-success splash-button-try">Try Free</button>
                                </a>
                                <a class="a-button" href="/">
                                    <button type="button" class="btn btn-outline-secondary">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="easybase-preview-root my-5">
                        sdaffsd
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-root">
        <div class="container">
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center">
                    <div style="width: 360px;">
                        <div class="footer-content-section mt-3">
                            <div>
                                <ion-icon name="pin-outline" size="large"></ion-icon>
                            </div>
                            <div class="mt-1">
                                <p class="footer-content-text pb-1 pl-3">1679 Main Street Ave</p>
                                <p class="footer-content-text pb-1 pl-3">New York, NY</p>
                                <p class="footer-content-text pb-1 pl-3">14984</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div style="width: 360px;">
                        <div class="footer-content-section mt-3">
                            <div>
                                <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
                            </div>
                            <div class="mt-1">
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="mailto:hello@easybase.io" class="contact-text">hello@easybase.io</a>
                                </p>
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="tel:1234567890" class="contact-text">585-555-5555</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div style="width: 360px;">
                        <div class="footer-content-section mt-3">
                            <div>
                                <ion-icon name="link-outline" size="large"></ion-icon>
                            </div>
                            <div class="mt-1">
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="/" class="contact-text">Home</a>
                                </p>
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="/pricing" class="contact-text">Pricing</a>
                                </p>
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="/about" class="contact-text">About Us</a>
                                </p>
                                <p class="footer-content-text pb-1 pl-3">
                                    <a href="/blog" class="contact-text">Blog</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center pt-2">
                            <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                                <button class="btn btn-danger bmd-btn-fab mr-2" style="background-color: #29c5f6;">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </button>
                            </a>
                            <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                                <button class="btn btn-danger bmd-btn-fab" style="background-color: #FF9900" href="" target="_blank">
                                    <ion-icon name="logo-stackoverflow"></ion-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center py-2">
                            <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                                <button class="btn btn-danger bmd-btn-fab mr-2" style="background-color: #3a9bdc;" href="" target="_blank">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </button>
                            </a>
                            <a href="https://www.twitter.com/easybase_io" style="border: none;" target="_blank">
                                <button class="btn btn-danger bmd-btn-fab" style="background-color: #6788ce;" href="" target="_blank">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        
        <div class="container">
            <div class="row">
                <div class="footer-footer col-md-4 left-flex mt-2">
                    <a class="footer-footlink" href="https://mdbootstrap.com/">Terms</a>
                    <a class="footer-footlink" href="https://mdbootstrap.com/">Privacy</a>
                    <a class="footer-footlink" href="https://mdbootstrap.com/">DNSMI</a>
                </div>
                <div class="footer-footer col-md-4 center-flex mt-2">
                    <p style="color: #eee; margin: 0;">© EasyBase 2016-2020</p>
                </div>
                <div class="footer-footer col-md-4 right-flex mt-2">
                    <img src="/assets/images/logo1_transparent_md.png" style="width: 150px;" alt="easybase logo" />
                </div>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });
        (function ($) {
            $(function () {
                $('nav ul li > a:not(:only-child)').click(function (e) {
                    $(this).siblings('.nav-dropdown').toggle();
                    $('.nav-dropdown').not($(this).siblings()).hide();
                    e.stopPropagation();
                });
                $('html').click(function () {
                    $('.nav-dropdown').hide();
                });
            });
            document.querySelector('#nav-toggle').addEventListener('click', function () {
                this.classList.toggle('active');
            });
            $('#nav-toggle').click(function () {
                $('nav ul').toggle();
            });
        })(jQuery);

    </script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>